;; TODO generate this

[:!provide-feature

 {:id :hit-dice/d8
  :name "Hit Dice: D8"
  :implicit? true
  :! [[:!provide-attr
       :5e/hit-dice 8]
      [:!add-limited-use
       {:id :hit-dice/d8#uses
        :name "D8"
        :implicit? true
        :restore-trigger :long-rest
        :restore-amount (fn [trigger used level]
                          (min used
                               (ceil (/ level 2))))
        :uses (fn [level]
                level)}]]}

 {:id :hit-dice/d10
  :name "Hit Dice: D10"
  :implicit? true
  :! [[:!provide-attr
       :5e/hit-dice 10]
      [:!add-limited-use
       {:id :hit-dice/d10#uses
        :name "D10"
        :implicit? true
        :restore-trigger :long-rest
        :restore-amount (fn [trigger used level]
                          (min used
                               (ceil (/ level 2))))
        :uses (fn [level]
                level)}]]}]

[:!provide-feature
 {:id :unarmed-strike
  :implicit? true
  :dice (fn [modifiers]
          (+ 1 (:str modifiers)))}]

[:!provide-feature
 {:id :hp
  :implicit? true
  :! [[:!add-limited-use
       {:id :hp#uses
        :implicit? true
        :restore-trigger :long-rest}]]}]

[:!provide-feature
 {:id :proficiency/acrobatics
  :name "Acrobatics"
  :! [[:!provide-attr :proficiency/acrobatics true]]}
 {:id :proficiency/animal-handling
  :name "Animal Handling"
  :! [[:!provide-attr :proficiency/animal-handling true]]}
 {:id :proficiency/arcana
  :name "Arcana"
  :! [[:!provide-attr :proficiency/arcana true]]}
 {:id :proficiency/athletics
  :name "Athletics"
  :! [[:!provide-attr :proficiency/athletics true]]}
 {:id :proficiency/deception
  :name "Deception"
  :! [[:!provide-attr :proficiency/deception true]]}
 {:id :proficiency/history
  :name "History"
  :! [[:!provide-attr :proficiency/history true]]}
 {:id :proficiency/insight
  :name "Insight"
  :! [[:!provide-attr :proficiency/insight true]]}
 {:id :proficiency/intimidation
  :name "Intimidation"
  :! [[:!provide-attr :proficiency/intimidation true]]}
 {:id :proficiency/investigation
  :name "Investigation"
  :! [[:!provide-attr :proficiency/investigation true]]}
 {:id :proficiency/medicine
  :name "Medicine"
  :! [[:!provide-attr :proficiency/medicine true]]}
 {:id :proficiency/nature
  :name "Nature"
  :! [[:!provide-attr :proficiency/nature true]]}
 {:id :proficiency/perception
  :name "Perception"
  :! [[:!provide-attr :proficiency/perception true]]}
 {:id :proficiency/performance
  :name "Performance"
  :! [[:!provide-attr :proficiency/performance true]]}
 {:id :proficiency/persuasion
  :name "Persuasion"
  :! [[:!provide-attr :proficiency/persuasion true]]}
 {:id :proficiency/religion
  :name "Religion"
  :! [[:!provide-attr :proficiency/religion true]]}
 [:id :proficiency/sleight-of-hand
  :name "Sleight of Hand"
  :! [[:!provide-attr :proficiency/sleight-of-hand true]]]
 {:id :proficiency/stealth
  :name "Stealth"
  :! [[:!provide-attr :proficiency/stealth true]]}
 {:id :proficiency/survival
  :name "Survival"
  :! [[:!provide-attr :proficiency/survival true]]}]

[:!add-to-list

 {:id :cleric/spells-list
  :type :5e/spell}

 [{:spell-level 1
   :id :cure-wounds
   :name "Cure Wounds"
   :time "1 Action"
   :range "Touch"
   :comp :vs
   :duration "Instantaneous"
   :school :evocation
   :desc "A creature you touch regains a number of hit points equal to 1d8 + your spellcasting ability modifier. This spell has no effect on undead or constructs.

*At Higher Levels.* When you cast this spell using a spell slot of 2nd level or higher, the healing increases by 1d8 for each slot level above 1st."
   :dice (fn [spell-level spell-mod]
           (str spell-level "d8+" spell-mod))}

  {:spell-level 1
   :id :guiding-bolt
   :name "Guiding Bolt"
   :time "1 Action"
   :range "120 ft."
   :comp :vs
   :duration "1 Round"
   :school "Evocation"
   :attack :ranged
   :damage :radiant
   :desc "A flash of light streaks toward a creature of your choice within range. Make a ranged spell attack against the target. On a hit, the target takes 4d6 radiant damage, and the next attack roll made against this target before the end of your next turn has advantage, thanks to the mystical dim light glittering on the target until then.

*At Higher Levels.* When you cast this spell using a spell slot of 2nd level or higher, the damage increases by 1d6 for each slot level above 1st."
   :dice (fn [spell-level]
           (str (+ 3 spell-level) "d6"))}]]

[:!declare-class
 {:id :cleric
  :name "Cleric"
  :attrs
  {:5e/spellcaster
   {:cantrips [1 3,
               4 1,
               10 1]
    :ability :wis
    :spells :cleric/spells-list
    :extra-spells :cleric/extra-spells
    :prepares? true}
   }

  :features
  [:hit-dice/d8
   :hp
   :unarmed-strike

   {:id :cleric/domain
    :name "Divine Domain"
    :desc "Choose one domain related to your deity, such as Life. Each domain is detailed at the end of the class description, and each one provides examples of gods associated with it. Your choice grants you domain spells and other features when you choose it at 1st level. It also grants you additional ways to use Channel Divinity when you gain that feature at 2nd level, and additional benefits at 6th, 8th, and 17th levels."
    :max-options 1}

   {:id :cleric/skill-proficiencies
    :name "Proficiencies"
    :implicit? true
    :max-options 2
    :values [:proficiency/history :proficiency/insight :proficiency/medicine :proficiency/persuasion :proficiency/religion]
    }]
  
  :&levels {2 {:+features
               [:cleric/channel-divinity]
               }}}]

[:!provide-feature
 {:id :cleric/channel-divinity
  :name "Channel Divinity"
  :! [[:!add-limited-use
       {:id :channel-divinity#uses
        :name "Channel Divinity"
        :restore-trigger :short-rest
        :uses (fn [level]
                (cond
                  (>= level 16) 3
                  (>= level 6) 2
                  :else 1))
        }]]}]

[:!provide-options
 :cleric/domain
 {:id :cleric/life-domain
  :name "Life Domain"
  :desc "The Life domain focuses on the vibrant positive energy—one of the fundamental forces of the universe—that sustains all life. The gods of life promote vitality and health through healing the sick and wounded, caring for those in need, and driving away the forces of death and undeath. Almost any non-evil deity can claim influence over this domain, particularly agricultural deities (such as Chauntea, Arawai, and Demeter), sun gods (such as Lathander, Pelor, and Re-Horakhty), gods of healing or endurance (such as Ilmater, Mishakal, Apollo, and Diancecht), and gods of home and community (such as Hestia, Hathor, and Boldrei)."
  :! [[:!add-to-list
       :cleric/extra-spells
       [:bless :cure-wounds]]

      [:!provide-feature
       {:id :cleric/disciple-of-life
        :name "Disciple of Life"
        :desc "Also starting at 1st level, your healing spells are more effective. Whenever you use a spell of 1st level or higher to restore hit points to a creature, the creature regains additional hit points equal to 2 + the spell’s level."

        ; TODO can we surface this somehow? that would be VERY fancy...
        }]]

  :&levels {3 {:! [[:!add-to-list
                    :cleric/extra-spells
                    [:lesser-restoration :spiritual-weapon]]]}}}]

[:!declare-class
 {:id :monk
  :name "Monk"

  :features
  [:hit-dice/d8
   :hp

   {:id :monk/martial-arts
    :name "Martial Arts"
    :! [[:!provide-feature
         {:id :unarmed-strike
          :versatile? true
          :dice (fn [level modifiers]
                  (let [m (max (:str modifiers)
                               (:dex modifiers))]
                    (str "1d"
                         (cond
                           (<= level 4) "4"
                           (<= level 10) "6"
                           (<= level 16) "8"
                           (<= level 20) "10")
                         "+" m)))}]]}]}]

[:!declare-class
 {:id :warlock
  :name "Warlock"

  :attrs
  {:5e/spellcaster
   {:cantrips [1 2,
               4 1,
               10 1]
    :ability :cha
    :spells :warlock/spells-list
    :extra-spells :warlock/extra-spells
    :prepares? false

    :slots-type :pact-magic
    :slots-label "Pact Magic"
    :slots {1 {1 1}, 2 {1 2}
            3 {2 2}, 4 {2 2}
            5 {3 2}, 6 {3 2}
            7 {4 2}, 8 {4 2}
            9 {5 2}, 10 {5 2}
            11 {5 3}, 12 {5 3}
            13 {5 3}, 14 {5 3}
            15 {5 3}, 16 {5 3}
            17 {5 4}, 18 {5 4}
            19 {5 4}, 20 {5 4}}
    :multiclass-levels-mod 0
    :restore-trigger :short-rest
    }
   }

  :features
  [:hit-dice/d8
   :hp
   :unarmed-strike
   ]}]


;; races

[:!declare-race
 {:id :human
  :name "Human"
  :attrs
  {:5e/ability-score-increase
   {:str 1
    :dex 1
    :con 1
    :int 1
    :wis 1
    :cha 1}}}]
