body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@import "flex.less";

// // just for testing with re-frame-10x visible:
// #app {
//     width: 60%;
// }

//
// Other mixins
//

.clickable() {
    cursor: pointer;

    -webkit-user-select: none;
    user-select: none;
}

//
// Overlays
//

#overlay-container {
    .flex();
    .justify-content(center);
    .align-items(center);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: fade(#333333, 80%);
}

#overlay {
    position: relative;
    background: #f0f0f0;
    border-radius: 2px;
    padding: 32px;

    .close-button {
        .clickable();

        position: absolute;
        top: 4px;
        right: 4px;
    }

    .wrapper {
        margin-top: 8px;
    }
}

//
// Main classes
//

.sections {
    .flex(wrap);
    .justify-content(center);

    .section {
        width: 400px;
        margin: 8px;
    }
}

.builder {
    .header {
        .align-items(center);

        .section-link {
            padding: 8px;
        }
    }

    .builder-main {
        width: 600px;
    }

    .section-arrow {
        .align-self(center);
        padding: 16px;
    }
}

.feature-options {
    .feature-option {
        .clickable();

        &.active {
            cursor: default;
            border: 2px solid #333;
            border-radius: 2px;
        }
    }
}

.clickable {
    .clickable();
}
