// FIXME: just for testing with re-frame-10x visible; remove eventually
#app {
    width: 60%;
}

.flex(@wrap: false) {
    display: -ms-flexbox!important;
    display: flex;

    & when(@wrap = wrap) {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }
}

.justify-content(@where: center) {
    -ms-flex-pack: @where;
    justify-content: @where;
}

.align-self(@where) {
    -ms-grid-row-align: @where;
    align-self: @where;
}

.sections {
    .flex(wrap);
    .justify-content(center);

    .section {
        width: 400px;
        margin: 8px;
    }
}

.builder {
    .section-arrow {
        .align-self(center);
        padding: 16px;
    }
}

.feature-options {
    .feature-option {
        cursor: pointer;

        &.active {
            cursor: default;
            border: 2px solid #333;
            border-radius: 2px;
        }
    }
}
