/*.log
/target
/*-init.clj
/resources/public/worker.js
/resources/public/js/compiled
/resources/public/sources/
/resources/public/css
out
.rebel_readline_history
.lein-repl-history
.lein-failures
.cljs_nashorn_repl
.repl
.bin
nashorn_code_cache
.planck_cache
.shadow-cljs
build-report.html
cljs-runtime
manifest.edn

.vercel