language: clojure

# Don't use the Travis Container-Based Infrastructure
sudo: true

addons:
    chrome: stable

before_install:
    # build react-swipeable-views since it's not published on cljsjs yet
    - git clone --depth 1 --single-branch -b react-swipeable-views git@github.com:dhleong/cljsjs-packages.git
    - (cd cljsjs-packages && boot package install target)

before_script:
    # plk depends on clojure
    - curl -O https://download.clojure.org/install/linux-install-1.9.0.381.sh
    - chmod +x linux-install-1.9.0.381.sh
    - sudo ./linux-install-1.9.0.381.sh

    # build planck from scratch since we need the latest version
    - sudo apt-get install javascriptcoregtk-3.0 libglib2.0-dev libzip-dev libcurl4-gnutls-dev libicu-dev
    - git clone --depth 1 https://github.com/planck-repl/planck.git
    - (cd planck && script/build --fast && sudo script/install)
    - planck --version

    # set up the plk tool
    - export PATH=$PATH:$PWD/planck/planck-sh/

    # set the version variable
    - export WISH_VERSION=$(git rev-parse --short HEAD)

script:
    - lein test
    - scripts/compile-builtin-sources

after_success:
    - lein build

deploy:
    provider: pages
    skip_cleanup: true
    github_token: $GITHUB_DEPLOY # Set in travis-ci.org dashboard
    local_dir: resources/public
    on:
        branch: master


