;; shadow-cljs configuration
{:dev-http {3450 "resources/public"}

 :source-paths ["src/cljc" "src/cljs" "src/cljs-worker"

                "test/cljs"]

 :dependencies [; core:
                [reagent "0.9.0-rc1"]
                [re-frame "0.11.0-rc1"]

                ; navigation:
                [clj-commons/secretary "1.2.4"]
                [kibu/pushy "0.3.8"]

                [wish-engine "0.1.0-SNAPSHOT"]

                ; style and input:
                [net.dhleong/spade "1.0.3"]
                [reagent-forms "0.5.43"]
                [re-pressed "0.3.1"]

                ; ::inject/sub cofx (for subscriptions in event handlers)
                [re-frame-utils "0.1.0"]

                ; util:
                [alandipert/storage-atom "2.0.1"]
                [com.cognitect/transit-cljs "0.8.256"]
                [com.cemerick/url "0.1.1"]
                [com.rpl/specter "1.1.3"]
                [cljs-ajax "0.8.0"]

                ; dev dependencies
                [binaryage/devtools "0.9.10"]
                [day8.re-frame/re-frame-10x "0.4.5"]
                [day8.re-frame/tracing "0.5.3"]]

 :builds {:app {:target :browser
                :output-dir "resources/public/js/compiled/"
                :asset-path "/js/compiled"

                :modules {:app {:init-fn wish.core/init}}

                :dev
                {:compiler-options
                 {:closure-defines
                  {re-frame.trace/trace-enabled? true
                   day8.re-frame.trace/trace-enabled? true}}}

                :devtools {:preloads [day8.re-frame-10x.preload]}

                :release
                {:compiler-options
                 {:fn-invoke-direct true
                  :strip-type-prefixes #{"wish.util.shadow"}}

                 :closure-defines
                 {wish.config/VERSION #shadow/env "WISH_VERSION"
                  wish.config/full-url-root "https://dhleong.github.io/wish"
                  wish.config/gdrive-client-id "661182319990-3aa8akj9fh8eva9lf7bt02621q2i18s6.apps.googleusercontent.com"
                  wish.config/push-server "https://wish-server.now.sh"}}}

          :worker {:target :browser
                   :output-dir "resources/public/"
                   :asset-path "/"
                   :modules {:worker {:entries [wish.worker.core]
                                      :web-worker true}}}

          :ci {:target :karma
               :output-to "target/ci.js"}}}

