
[:!provide-feature

 ;; Racial features

 {:id :darkvision
  :name "Darkvision"
  :desc "You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can’t discern color in darkness, only shades of gray."}

 {:id :fey-ancestry
  :name "Fey Ancestry"
  :desc "You have advantage on saving throws against being charmed, and magic can’t put you to sleep."
  :! [[:!provide-attr [:saves :fey-ancestry]
       {:desc "You have advantage on saving throws against being charmed, and magic can’t put you to sleep."}]]}

 ;; Common level-up features
 {:id :ability-improvement
  :implicit? true
  :instanced? true
  :name "Ability Score Improvement"
  :desc "You can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can’t increase an ability score above 20 using this feature."
  :max-options 2
  :multi? true
  :values
  [{:id :ability/str
    :name "Strength"
    :! [[:!update-attr [:buffs :str] inc]]}
   {:id :ability/dex
    :name "Dexterity"
    :! [[:!update-attr [:buffs :dex] inc]]}
   {:id :ability/con
    :name "Constitution"
    :! [[:!update-attr [:buffs :con] inc]]}
   {:id :ability/int
    :name "Intelligence"
    :! [[:!update-attr [:buffs :int] inc]]}
   {:id :ability/wis
    :name "Wisdom"
    :! [[:!update-attr [:buffs :wis] inc]]}
   {:id :ability/cha
    :name "Charisma"
    :! [[:!update-attr [:buffs :cha] inc]]}] }

 {:id :feats
  :name "Feats"
  :desc "A feat represents a talent or an area of expertise that gives a character special capabilities. It embodies training, experience, and abilities beyond what a class provides.
At certain levels, your class gives you the Ability Score Improvement feature. Using the optional feats rule, you can forgo taking that feature to take a feat of your choice instead. You can take each feat only once, unless the feat’s description says otherwise."
  :max-options 99
  :values [:all-feats]}

 {:id :extra-attack
  :name "Extra Attack"
  :desc "You can attack twice, instead of once, whenever you take the Attack action on your turn."}

 ]
