
[:!provide-feature
 {:id :darkvision
  :name "Darkvision"
  :desc "You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can’t discern color in darkness, only shades of gray."}]

[:!provide-feature
 {:id :fey-ancestry
  :name "Fey Ancestry"
  :desc "You have advantage on saving throws against being charmed, and magic can’t put you to sleep."
  :! [[:!provide-attr [:saves :fey-ancestry]
       {:desc "You have advantage on saving throws against being charmed, and magic can’t put you to sleep."}]]}]
