
[:!provide-feature
 {:id :save-proficiency/str
  :! [[:!provide-attr :save-proficiency/str true]]}
 {:id :save-proficiency/dex
  :! [[:!provide-attr :save-proficiency/dex true]]}
 {:id :save-proficiency/con
  :! [[:!provide-attr :save-proficiency/con true]]}
 {:id :save-proficiency/int
  :! [[:!provide-attr :save-proficiency/int true]]}
 {:id :save-proficiency/wis
  :! [[:!provide-attr :save-proficiency/wis true]]}
 {:id :save-proficiency/cha
  :! [[:!provide-attr :save-proficiency/cha true]]}]

[:!add-to-list

 {:id :all-skill-proficiencies
  :type :feature}

 {:id :proficiency/acrobatics
  :name "Acrobatics"
  :implicit? true
  :availability-attr :proficiency/acrobatics}
 {:id :proficiency/animal-handling
  :name "Animal Handling"
  :implicit? true
  :availability-attr :proficiency/animal-handling}
 {:id :proficiency/arcana
  :name "Arcana"
  :implicit? true
  :availability-attr :proficiency/arcana}
 {:id :proficiency/athletics
  :name "Athletics"
  :implicit? true
  :availability-attr :proficiency/athletics}
 {:id :proficiency/deception
  :name "Deception"
  :implicit? true
  :availability-attr :proficiency/deception}
 {:id :proficiency/history
  :name "History"
  :implicit? true
  :availability-attr :proficiency/history}
 {:id :proficiency/insight
  :name "Insight"
  :implicit? true
  :availability-attr :proficiency/insight}
 {:id :proficiency/intimidation
  :name "Intimidation"
  :implicit? true
  :availability-attr :proficiency/intimidation}
 {:id :proficiency/investigation
  :name "Investigation"
  :implicit? true
  :availability-attr :proficiency/investigation}
 {:id :proficiency/medicine
  :name "Medicine"
  :implicit? true
  :availability-attr :proficiency/medicine}
 {:id :proficiency/nature
  :name "Nature"
  :implicit? true
  :availability-attr :proficiency/nature}
 {:id :proficiency/perception
  :name "Perception"
  :implicit? true
  :availability-attr :proficiency/perception}
 {:id :proficiency/performance
  :name "Performance"
  :implicit? true
  :availability-attr :proficiency/performance}
 {:id :proficiency/persuasion
  :name "Persuasion"
  :implicit? true
  :availability-attr :proficiency/persuasion}
 {:id :proficiency/religion
  :name "Religion"
  :implicit? true
  :availability-attr :proficiency/religion}
 {:id :proficiency/sleight-of-hand
  :name "Sleight of Hand"
  :implicit? true
  :availability-attr :proficiency/sleight-of-hand}
 {:id :proficiency/stealth
  :name "Stealth"
  :implicit? true
  :availability-attr :proficiency/stealth}
 {:id :proficiency/survival
  :name "Survival"
  :implicit? true
  :availability-attr :proficiency/survival}]

[:!add-to-list

 {:id :all-skill-expertise
  :type :feature}

 {:id :expertise/acrobatics
  :name "Acrobatics"
  :implicit? true
  :availability-attr :expertise/acrobatics
  :available? (fn [attrs]
                (:proficiency/acrobatics attrs))}
 {:id :expertise/animal-handling
  :name "Animal Handling"
  :implicit? true
  :availability-attr :expertise/animal-handling
  :available? (fn [attrs]
                (:proficiency/animal-handling attrs))}
 {:id :expertise/arcana
  :name "Arcana"
  :implicit? true
  :availability-attr :expertise/arcana
  :available? (fn [attrs]
                (:proficiency/arcana attrs))}
 {:id :expertise/athletics
  :name "Athletics"
  :implicit? true
  :availability-attr :expertise/athletics
  :available? (fn [attrs]
                (:proficiency/athletics attrs))}
 {:id :expertise/deception
  :name "Deception"
  :implicit? true
  :availability-attr :expertise/deception
  :available? (fn [attrs]
                (:proficiency/deception attrs))}
 {:id :expertise/history
  :name "History"
  :implicit? true
  :availability-attr :expertise/history
  :available? (fn [attrs]
                (:proficiency/history attrs))}
 {:id :expertise/insight
  :name "Insight"
  :implicit? true
  :availability-attr :expertise/insight
  :available? (fn [attrs]
                (:proficiency/insight attrs))}
 {:id :expertise/intimidation
  :name "Intimidation"
  :implicit? true
  :availability-attr :expertise/intimidation
  :available? (fn [attrs]
                (:proficiency/intimidation attrs))}
 {:id :expertise/investigation
  :name "Investigation"
  :implicit? true
  :availability-attr :expertise/investigation
  :available? (fn [attrs]
                (:proficiency/investigation attrs))}
 {:id :expertise/medicine
  :name "Medicine"
  :implicit? true
  :availability-attr :expertise/medicine
  :available? (fn [attrs]
                (:proficiency/medicine attrs))}
 {:id :expertise/nature
  :name "Nature"
  :implicit? true
  :availability-attr :expertise/nature
  :available? (fn [attrs]
                (:proficiency/nature attrs))}
 {:id :expertise/perception
  :name "Perception"
  :implicit? true
  :availability-attr :expertise/perception
  :available? (fn [attrs]
                (:proficiency/perception attrs))}
 {:id :expertise/performance
  :name "Performance"
  :implicit? true
  :availability-attr :expertise/performance
  :available? (fn [attrs]
                (:proficiency/performance attrs))}
 {:id :expertise/persuasion
  :name "Persuasion"
  :implicit? true
  :availability-attr :expertise/persuasion
  :available? (fn [attrs]
                (:proficiency/persuasion attrs))}
 {:id :expertise/religion
  :name "Religion"
  :implicit? true
  :availability-attr :expertise/religion
  :available? (fn [attrs]
                (:proficiency/religion attrs))}
 {:id :expertise/sleight-of-hand
  :name "Sleight of Hand"
  :implicit? true
  :availability-attr :expertise/sleight-of-hand
  :available? (fn [attrs]
                (:proficiency/sleight-of-hand attrs))}
 {:id :expertise/stealth
  :name "Stealth"
  :implicit? true
  :availability-attr :expertise/stealth
  :available? (fn [attrs]
                (:proficiency/stealth attrs))}
 {:id :expertise/survival
  :name "Survival"
  :implicit? true
  :availability-attr :expertise/survival
  :available? (fn [attrs]
                (:proficiency/survival attrs))}]

[:!add-to-list

 {:id :all-tool-proficiencies
  :type :feature}

 {:id :proficiency/alchemists-supplies
  :name "Alchemist's Supplies"
  :implicit? true
  :availability-attr :proficiency/alchemists-supplies}
 {:id :proficiency/bagpipes
  :name "Bagpipes"
  :implicit? true
  :availability-attr :proficiency/bagpipes}
 {:id :proficiency/brewers-supplies
  :name "Brewer's Supplies"
  :implicit? true
  :availability-attr :proficiency/brewers-supplies}
 {:id :proficiency/calligraphers-supplies
  :name "Calligrapher's Supplies"
  :implicit? true
  :availability-attr :proficiency/calligraphers-supplies}
 {:id :proficiency/carpenters-tools
  :name "Carpenter's Tools"
  :implicit? true
  :availability-attr :proficiency/carpenters-tools}
 {:id :proficiency/cartographers-tools
  :name "Cartographer's Tools"
  :implicit? true
  :availability-attr :proficiency/cartographers-tools}
 {:id :proficiency/cobblers-tools
  :name "Cobbler's Tools"
  :implicit? true
  :availability-attr :proficiency/cobblers-tools}
 {:id :proficiency/cooks-utensils
  :name "Cook's Utensils"
  :implicit? true
  :availability-attr :proficiency/cooks-utensils}
 {:id :proficiency/dice-set
  :name "Dice Set"
  :implicit? true
  :availability-attr :proficiency/dice-set}
 {:id :proficiency/disguise-kit
  :name "Disguise Kit"
  :implicit? true
  :availability-attr :proficiency/disguise-kit}
 {:id :proficiency/dragonchess-set
  :name "Dragonchess Set"
  :implicit? true
  :availability-attr :proficiency/dragonchess-set}
 {:id :proficiency/drum
  :name "Drum"
  :implicit? true
  :availability-attr :proficiency/drum}
 {:id :proficiency/dulcimer
  :name "Dulcimer"
  :implicit? true
  :availability-attr :proficiency/dulcimer}
 {:id :proficiency/flute
  :name "Flute"
  :implicit? true
  :availability-attr :proficiency/flute}
 {:id :proficiency/forgery-kit
  :name "Forgery Kit"
  :implicit? true
  :availability-attr :proficiency/forgery-kit}
 {:id :proficiency/glassblowers-tools
  :name "Glassblower's Tools"
  :implicit? true
  :availability-attr :proficiency/glassblowers-tools}
 {:id :proficiency/herbalism-kit
  :name "Herbalism Kit"
  :implicit? true
  :availability-attr :proficiency/herbalism-kit}
 {:id :proficiency/horn
  :name "Horn"
  :implicit? true
  :availability-attr :proficiency/horn}
 {:id :proficiency/jewelers-tools
  :name "Jeweler's Tools"
  :implicit? true
  :availability-attr :proficiency/jewelers-tools}
 {:id :proficiency/leatherworkers-tools
  :name "Leatherworker's Tools"
  :implicit? true
  :availability-attr :proficiency/leatherworkers-tools}
 {:id :proficiency/lute
  :name "Lute"
  :implicit? true
  :availability-attr :proficiency/lute}
 {:id :proficiency/lyre
  :name "Lyre"
  :implicit? true
  :availability-attr :proficiency/lyre}
 {:id :proficiency/masons-tools
  :name "Mason's Tools"
  :implicit? true
  :availability-attr :proficiency/masons-tools}
 {:id :proficiency/navigators-tools
  :name "Navigator's Tools"
  :implicit? true
  :availability-attr :proficiency/navigators-tools}
 {:id :proficiency/painters-supplies
  :name "Painter's Supplies"
  :implicit? true
  :availability-attr :proficiency/painters-supplies}
 {:id :proficiency/pan-flute
  :name "Pan Flute"
  :implicit? true
  :availability-attr :proficiency/pan-flute}
 {:id :proficiency/playing-card-set
  :name "Playing Card Set"
  :implicit? true
  :availability-attr :proficiency/playing-card-set}
 {:id :proficiency/poisoners-kit
  :name "Poisoner's Kit"
  :implicit? true
  :availability-attr :proficiency/poisoners-kit}
 {:id :proficiency/potters-tools
  :name "Potter's Tools"
  :implicit? true
  :availability-attr :proficiency/potters-tools}
 {:id :proficiency/shawm
  :name "Shawm"
  :implicit? true
  :availability-attr :proficiency/shawm}
 {:id :proficiency/smiths-tools
  :name "Smith's Tools"
  :implicit? true
  :availability-attr :proficiency/smiths-tools}
 {:id :proficiency/thieves-tools
  :name "Thieves' Tools"
  :implicit? true
  :availability-attr :proficiency/thieves-tools}
 {:id :proficiency/three-dragon-ante-set
  :name "Three-Dragon Ante Set"
  :implicit? true
  :availability-attr :proficiency/three-dragon-ante-set}
 {:id :proficiency/tinkers-tools
  :name "Tinker's Tools"
  :implicit? true
  :availability-attr :proficiency/tinkers-tools}
 {:id :proficiency/vehicles-land
  :name "Vehicles (Land)"
  :implicit? true
  :availability-attr :proficiency/vehicles-land}
 {:id :proficiency/vehicles-water
  :name "Vehicles (Water)"
  :implicit? true
  :availability-attr :proficiency/vehicles-water}
 {:id :proficiency/viol
  :name "Viol"
  :implicit? true
  :availability-attr :proficiency/viol}
 {:id :proficiency/weavers-tools
  :name "Weaver's Tools"
  :implicit? true
  :availability-attr :proficiency/weavers-tools}
 {:id :proficiency/woodcarvers-tools
  :name "Woodcarver's Tools"
  :implicit? true
  :availability-attr :proficiency/woodcarvers-tools}]


; ======= Weapon proficiencies ============================

[:!add-to-list
 {:id :weapon-kind-proficiencies
  :type :feature}

 {:id :proficiency/club
  :name "Club"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :club] true]
      [:!provide-attr :proficiency/club true]]}

 {:id :proficiency/dagger
  :name "Dagger"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :dagger] true]
      [:!provide-attr :proficiency/dagger true]]}
 {:id :proficiency/dart
  :name "Dart"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :dart] true]
      [:!provide-attr :proficiency/dart true]]}

 {:id :proficiency/javelin
  :name "Javelin"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :javelin] true]
      [:!provide-attr :proficiency/javelin true]]}

 {:id :proficiency/hand-crossbow
  :name "Hand Crossbow"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :hand-crossbow] true]
      [:!provide-attr :proficiency/hand-crossbow true]]}
 {:id :proficiency/light-crossbow
  :name "Light Crossbow"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :light-crossbow] true]
      [:!provide-attr :proficiency/light-crossbow true]]}

 {:id :proficiency/longbow
  :name "Longbow"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :longbow] true]
      [:!provide-attr :proficiency/longbow true]]}
 {:id :proficiency/longsword
  :name "Longsword"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :longsword] true]
      [:!provide-attr :proficiency/longsword true]]}

 {:id :proficiency/mace
  :name "Mace"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :mace] true]
      [:!provide-attr :proficiency/mace true]]}

 {:id :proficiency/shortbow
  :name "Shortbow"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :shortbow] true]
      [:!provide-attr :proficiency/shortbow true]]}
 {:id :proficiency/shortsword
  :name "Shortsword"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :shortsword] true]
      [:!provide-attr :proficiency/shortsword true]]}

 {:id :proficiency/rapier
  :name "Rapier"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :rapier] true]
      [:!provide-attr :proficiency/rapier true]]}

 {:id :proficiency/scimitar
  :name "Scimitar"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :scimitar] true]
      [:!provide-attr :proficiency/scimitar true]]}

 {:id :proficiency/sickle
  :name "Sickle"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :sickle] true]
      [:!provide-attr :proficiency/sickle true]]}

 {:id :proficiency/sling
  :name "Sling"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :sling] true]
      [:!provide-attr :proficiency/sling true]]}

 {:id :proficiency/spear
  :name "Spear"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :spear] true]
      [:!provide-attr :proficiency/spear true]]}

 {:id :proficiency/quarterstaff
  :name "Quarterstaff"
  :implicit? true
  :! [[:!provide-attr [:weapon-kinds :quarterstaff] true]
      [:!provide-attr :proficiency/quarterstaff true]]}]

[:!add-to-list
 {:id :weapon-category-proficiencies
  :type :feature}

 {:id :proficiency/martial-weapons
  :name "Martial Weapons"
  :implicit? true
  :! [[:!provide-attr [:weapon-categories :martial] true]
      [:!provide-attr :proficiency/martial-weapons true]]}
 {:id :proficiency/simple-weapons
  :name "Simple Weapons"
  :implicit? true
  :! [[:!provide-attr [:weapon-categories :simple] true]
      [:!provide-attr :proficiency/simple-weapons true]]}
 ]

[:!add-to-list
 {:id :weapon-category-proficiencies
  :type :feature}

 {:id :proficiency/martial-weapons
  :name "Martial Weapons"
  :implicit? true
  :! [[:!provide-attr [:weapon-categories :martial] true]
      [:!provide-attr :proficiency/martial-weapons true]]}
 {:id :proficiency/simple-weapons
  :name "Simple Weapons"
  :implicit? true
  :! [[:!provide-attr [:weapon-categories :simple] true]
      [:!provide-attr :proficiency/simple-weapons true]]}
 ]


; ======= Armor proficiencies =============================

[:!add-to-list
 {:id :armor-category-proficiencies
  :type :feature}

 {:id :proficiency/all-armor
  :name "All Armor"
  :implicit? true
  :! [[:!provide-attr :proficiency/all-armor true]]}

 {:id :proficiency/light-armor
  :name "Light Armor"
  :implicit? true
  :! [[:!provide-attr :proficiency/light-armor true]]}
 {:id :proficiency/medium-armor
  :name "Medium Armor"
  :implicit? true
  :! [[:!provide-attr :proficiency/medium-armor true]]}
 {:id :proficiency/heavy-armor
  :name "Heavy Armor"
  :implicit? true
  :! [[:!provide-attr :proficiency/heavy-armor true]]}
 {:id :proficiency/shields
  :name "Shields"
  :implicit? true
  :! [[:!provide-attr :proficiency/shields true]]}
 ]
