(declare-list

 {:id :druid/cantrips-list
  :type :5e/spell}

 [:spell/druidcraft
  :spell/guidance
  :spell/mending
  :spell/poison-spray
  :spell/produce-flame
  :spell/resistance
  :spell/shillelagh
  ]
 )

