(declare-effects

  {:id :spell/aid
   :name "Aid"
   :duration "8 hours"
   :effects ["Your hit point maximum increases by 5 * spell level"]
   :from-spell [2 9]
   :! (on-state
        (provide-attr
          [:buffs :hp-max :spell/aid]
          (fn [spell-level]
            (* 5 (dec (or spell-level 2))))))}

  {:id :spell/beacon-of-hope
   :name "Beacon of Hope"
   :duration "Concentration, up to 1 minute"
   :effects ["You have advantage on Wisdom saving throws and death saving throws"
             "You regain the maximum number of hit points possible from any healing."]
   :! (on-state
        (provide-attr [:saves :spell/beacon-of-hope]
                        {:desc "You have advantage on Wisdom saving throws and death saving throws"}))}

  ; TODO string buffs to :atk?
  {:id :spell/bless
   :name "Bless"
   :duration "Concentration, up to 1 minute"
   :effects ["You may add a d4 to any attack roll or saving throw"]}

  ; TODO enhance ability?

  {:id :spell/enlarge
   :name "Enlarge"
   :duration "Concentration, up to 1 minute"
   :effects ["Your size is doubled in all dimensions, and your weight is multiplied by eight"
             "You have advantage on Strength checks and Strength saving throws"
             "Your weapons are enlarged, and deal 1d4 extra damage"]
   :! (on-state
        (provide-attr [:saves :spell/enlarge]
                      {:desc "You have advantage on Strength checks and Strength saving throws"})
        (provide-attr [:buffs :dmg :any :spell/enlarge]
                      {:dice "1d4"}))}

  {:id :spell/reduce
   :name "Reduce"
   :duration "Concentration, up to 1 minute"
   :effects ["Your size is halved in all dimensions, and your weight is one-eight of normal"
             "You have disadvantage on Strength checks and Strength saving throws"
             "Your weapons are shurnk, and deal 1d4 less damage"]
   :! (on-state
        (provide-attr [:saves :spell/reduce]
                      {:desc "You have disadvantage on Strength checks and Strength saving throws"})
        (provide-attr [:buffs :dmg :any :spell/reduce]
                      {:dice "-1d4"}))}

  {:id :spell/foresight
   :name "Foresight"
   :duration "8 hours"
   :effects ["You can't be surprised"
             "You have advantage on attack rolls, ability checks, and saving throws"
             "Other creatures have disadvantage on attack rolls against you"]
   :! (on-state
        (provide-attr [:saves :spell/foresight] true))}

  {:id :spell/freedom-of-movement
   :name "Freedom of Movement"
   :duration "1 hour"
   :effects ["Your movement is unaffected by difficult terrain"
             "Spells and other magical effects can neither reduce your speed nor cause you to be paralyzed or restrained"
             "You can spend 5 feet of movement to automatically escape from nonmagical restraints"
             "Being underwater imposes no penalties on your movement or attacks"]
   :! (on-state
        (provide-attr [:saves :spell/freedom-of-movement] true))}

  {:id :spell/glibness
   :name "Glibness"
   :duration "1 hour"
   :effects ["When you make a Charisma check, you can replace the number you roll with a 15"
             "No matter what you say, magic that would determine if you are telling the truth indicates that you are being truthful."]
   :! (on-state
        (provide-attr [:saves :spell/glibness] true))}

  {:id :spell/haste
   :name "Haste"
   :duration "Concentration, up to 1 minute"
   :effects ["Your speed is doubled"
             "You have a +2 bonus to AC"
             "You have advantage on DEX saving throws"
             "You have an additional action on each of your turns; it may only be used to take the Attack (one weapon attack only), Dash, Disengage, Hide, or Use an Object action."]
   :! (on-state
        (provide-attr [:buffs :ac :spell/haste] 2)
        (provide-attr [:buffs :speed :spell/haste] (fn [speed] speed)))}

  {:id :spell/heroes-feast
   :name "Heroes’ Feast"
   :duration "24 hours"
   :effects ["You are immune to poison and being frightened"
             "You make all Wisdom saving throws with advantage"]
   :! (on-state
        (provide-attr [:saves :spell/heroes-feast] true))}

  {:id :spell/heroism
   :name "Heroism"
   :duration "Concentration, up to 1 minute"
   :effects ["You are immune to being frightened"
             "You gain temporary hit points equal to the caster's spellcasting ability modifier at the start of each of your turns"]
   :! (on-state
        (provide-attr [:saves :spell/heroism] true))}

  {:id :spell/longstrider
   :name "Longstrider"
   :duration "1 hour"
   :effects ["Your speed is increased by 10 feet"]
   :! (on-state
        (provide-attr [:buffs :speed :spell/longstrider] 10))})

(declare-effects
  {:id :spell/mage-armor
   :name "Mage Armor"
   :duration "8 hour"
   :effects ["Your base AC is 13 + Dex"]
   :! (on-state
        (provide-attr [:5e/ac :spell/mage-armor]
                      (fn [modifiers armor?]
                        (when-not armor?
                          (+ 13 (:dex modifiers))))))}

  {:id :spell/pass-without-trace
   :name "Pass without Trace"
   :duration "Concentration, up to 1 hour"
   :effects ["You have a +10 bonus to Dexterity (Stealth) checks"
             "You can't be tracked except by magical means"
             "You leave behind no tracks or other traces of your passage"]
   :! (on-state
        (provide-attr [:buffs :stealth :spell/pass-without-trace] 10))}

  {:id :spell/protection-from-evil-and-good
   :name "Protection from Evil and Good"
   :duration "Concentration, up to 10 minutes"
   :effects ["You are protected against: aberrations, celestials, elementals, fey, fiends, and undead"
             "Creatures of these types have disadvantage on attack rolls against you"
             "You can't be charmed, frightened, or possed by theme"]
   :! (on-state
        (provide-attr [:saves :spell/protection-from-evil-and-good] true))}

  {:id :spell/protection-from-poison
   :name "Protection from Poison"
   :duration "1 hour"
   :effects ["You have advantage on saving throws against being poisoned"
             "You have resistance to poison damage"]
   :! (on-state
        (provide-attr [:saves :spell/protection-from-poison] true))}

  {:id :spell/shield-of-faith
   :name "Shield of Faith"
   :duration "Concentration, up to 10 minutes"
   :effects ["You have +2 to AC"]
   :! (on-state
        (provide-attr [:buffs :ac :spell/shield-of-faith] 2))}

  {:id :spell/slow
   :name "Slow"
   :duration "Concentration, up to 1 minute"
   :effects ["Your speed is halved"
             "You have -2 to AC and Dexterity saving throws"
             "On your turn, you can use either an action or bonus action, but not both"
             "You cannot make more than one melee or ranged attack during your turn"]
   :!(on-state
       (provide-attr [:buffs :speed :spell/slow] (fn [speed] (/ speed 2)))
       (provide-attr [:buffs :ac :spell/slow] -2)
      ; TODO dex saves?
       )}

  {:id :spell/warding-bond
   :name "Warding Bond"
   :duration "1 hour, and while within 60 feet of the caster"
   :effects ["You have +1 to AC and saving throws"
             "You have resistance to all damage"
             "Each time you take damage, the caster takes the same amount"]
   :! (on-state
        (provide-attr [:buffs :ac :spell/warding-bond] 1)
        (provide-attr [:buffs :saves :spell/warding-bond] 1))})

