(declare-race
  {:id :half-orc
   :name "Half-Orc"
   :attrs
   {:5e/ability-score-increase
    {:str 2
     :con 1}
    :5e/size :medium
    :5e/speed 30}

   :! (on-state
        (provide-features
          :background
          :lang/common
          :lang/orc
          :darkvision

          :proficiency/intimidation

          {:id :half-orc/menacing
           :name "Menacing"
           :desc "You gain proficiency in the Intimidation skill"}

          {:id :half-orc/relentless-endurance
           :name "Relentless Endurance"
           :desc "When you are reduced to 0 hit points but not killed outright, you can drop to 1 hit point instead. You can’t use this feature again until you finish a long rest."
           :! (on-state
                (add-limited-use
                  {:id :half-orc/relentless-endurance#uses
                   :name "Relentless Endurance"
                   :uses 1
                   :restore-trigger :long-rest}))}

          {:id :half-orc/savage-attacks
           :name "Savage Attacks"
           :desc "When you score a critical hit with a melee weapon attack, you can roll one of the weapon’s damage dice one additional time and add it to the extra damage of the critical hit."}))})



