
(declare-list
  {:id :background-features
   :type :feature}

  {:id :acolyte-bg/shelter-of-the-faithful
   :name "Shelter of the Faithful"
   :desc "As an acolyte, you command the respect of those who share your faith, and you can perform the religious ceremonies of your deity. You and your adventuring companions can expect to receive free healing and care at a temple, shrine, or other established presence of your faith, though you must provide any material components needed for spells. Those who share your religion will support you (but only you) at a modest lifestyle.
          You might also have ties to a specific temple dedicated to your chosen deity or pantheon, and you have a residence there. This could be the temple where you used to serve, if you remain on good terms with it, or a temple where you have found a new home. While near your temple, you can call upon the priests for assistance, provided the assistance you ask for is not hazardous and you remain in good standing with your temple."})

(declare-features
  {:id :background
   :implicit? true
   :name "Background"
   :desc "Every story has a beginning. Your character’s background reveals where you came from, how you became an adventurer, and your place in the world. Your fighter might have been a courageous knight or a grizzled soldier. Your wizard could have been a sage or an artisan. Your rogue might have gotten by as a guild thief or commanded audiences as a jester."
   :max-options 1})

(declare-options
  :background

  {:id :background/acolyte
   :name "Acolyte"

   :! (on-state
        (provide-features

          :proficiency/insight
          :proficiency/religion

          :acolyte-bg/shelter-of-the-faithful))}

  {:id :background/custom
   :name "Custom Background"
   :! (on-state
        (provide-features

          {:id :custom-bg/skill-proficiencies
           :name "Skill proficiencies (Pick any 2)"
           :implicit? true
           :max-options 2
           :values (items-from-list :all-skill-proficiencies)}

          {:id :custom-bg/feature
           :name "Background Feature (Pick any 1)"
           :implicit? true
           :max-options 1
           :values (items-from-list :background-features)}

          {:id :custom-bg/tools-or-languages
           :name "Proficiencies (Choose either 2 tools, 2 languages, or one of each.)"
           :implicit? true
           :max-options 2
           :values [(items-from-list :all-languages)
                    (items-from-list :all-tool-proficiencies)]}))})

