[:!declare-effects

 {:id :spell/aid
  :name "Aid"
  :duration "8 hours"
  :effects ["Your hit point maximum increases by 5 * spell level"]
  :from-spell [2 9]
  :! [[:!provide-attr
       [:buffs :hp-max :spell/aid]
       (fn [spell-level]
         (* 5 (dec (or spell-level 2))))]]}

 {:id :spell/haste
  :name "Haste"
  :duration "1 minute (Concentration)"
  :effects ["Your speed is doubled"
            "You have a +2 bonus to AC"
            "You have advantage on DEX saving throws"
            "You have an additional action on each of your turns; it may only be used to take the Attack (one weapon attack only), Dash, Disengage, Hide, or Use an Object action."]
  :! [[:!provide-attr [:buffs :ac :spell/haste] 2]
      [:!provide-attr [:buffs :speed :spell/haste] (fn [speed] speed)]]}]
