[:!declare-race
 {:id :dragonborn
  :name "Dragonborn"
  :attrs
  {:5e/ability-score-increase
   {:str 2
    :cha 1}
   :5e/size :medium
   :5e/speed 30}

  :features
  [:background
   :lang/common
   :lang/draconic

   {:id :dragonborn/ancestry
    :name "Draconic Ancestry"
    :desc "You have draconic ancestry. Choose one type of dragon from the Draconic Ancestry table. Your breath weapon and damage resistance are determined by the dragon type, as shown in the table."
    :max-options 1}

   {:id :dragonborn/breath-weapon
    :name "Breath Weapon"
    :desc "You can use your action to exhale destructive energy. Your draconic ancestry determines the size, shape, and damage type of the exhalation.
When you use your breath weapon, each creature in the area of the exhalation must make a saving throw, the type of which is determined by your draconic ancestry. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.
After you use your breath weapon, you can’t use it again until you complete a short or long rest."
    :! [[:!add-limited-use
         {:id :dragonborn/breath-weapon#uses
          :name "Dragonborn Breath Weapon"
          :uses 1
          :restore-trigger :short-rest}]

        [:!provide-attr
         [:attacks :dragonborn/breath-weapon]
         {:&from-option :dragonborn/ancestry
          :name "Dragonborn Breath Weapon"
          :consumes :dragonborn/breath-weapon#uses
          :dice (fn [level]
                  (cond
                    (< level 6) "2d6"
                    (< level 11) "3d6"
                    (< level 16) "4d6"
                    :else "5d6"))
          :save-dc (fn [modifiers prof-bonus]
                     (+ 8 (:con modifiers) prof-bonus))}]]}

   ]}]

[:!provide-options
 :dragonborn/ancestry

 {:id :dragonborn/ancestry-black
  :name "Dragonborn: Black Dragon Ancestor"
  :desc "Your breath weapon does Acid damage"
  :save :dex
  :damage :acid
  :aoe [:line 30, 5]
  :! [[:!provide-feature
       {:id :dragonborn/damage-resistance
        :name "Damage Resistance"
        :desc "You have resistance to the damage type associated with your draconic ancestry (acid)"}]
      [:!provide-attr
       [:resistances :acid]
       true]]}

 {:id :dragonborn/ancestry-blue
  :name "Dragonborn: Blue Dragon Ancestor"
  :desc "Your breath weapon does Lightning damage"
  :save :dex
  :damage :lightning
  :aoe [:line 30, 5]
  :! [[:!provide-feature
       {:id :dragonborn/damage-resistance
        :name "Damage Resistance"
        :desc "You have resistance to the damage type associated with your draconic ancestry (lightning)"}]
      [:!provide-attr
       [:resistances :lightning]
       true]]}

 {:id :dragonborn/ancestry-brass
  :name "Dragonborn: Brass Dragon Ancestor"
  :desc "Your breath weapon does Fire damage"
  :save :dex
  :damage :fire
  :aoe [:line 30, 5]
  :! [[:!provide-feature
       {:id :dragonborn/damage-resistance
        :name "Damage Resistance"
        :desc "You have resistance to the damage type associated with your draconic ancestry (fire)"}]
      [:!provide-attr
       [:resistances :fire]
       true]]}

 {:id :dragonborn/ancestry-bronze
  :name "Dragonborn: Bronze Dragon Ancestor"
  :desc "Your breath weapon does Lightning damage"
  :save :dex
  :damage :lightning
  :aoe [:line 30, 5]
  :! [[:!provide-feature
       {:id :dragonborn/damage-resistance
        :name "Damage Resistance"
        :desc "You have resistance to the damage type associated with your draconic ancestry (lightning)"}]
      [:!provide-attr
       [:resistances :lightning]
       true]]}

 {:id :dragonborn/ancestry-copper
  :name "Dragonborn: Copper Dragon Ancestor"
  :desc "Your breath weapon does Acid damage"
  :save :dex
  :damage :acid
  :aoe [:line 30, 5]
  :! [[:!provide-feature
       {:id :dragonborn/damage-resistance
        :name "Damage Resistance"
        :desc "You have resistance to the damage type associated with your draconic ancestry (acid)"}]
      [:!provide-attr
       [:resistances :acid]
       true]]}

 {:id :dragonborn/ancestry-gold
  :name "Dragonborn: Gold Dragon Ancestor"
  :desc "Your breath weapon does Fire damage"
  :save :dex
  :damage :fire
  :aoe [:cone 15]
  :! [[:!provide-feature
       {:id :dragonborn/damage-resistance
        :name "Damage Resistance"
        :desc "You have resistance to the damage type associated with your draconic ancestry (fire)"}]
      [:!provide-attr
       [:resistances :fire]
       true]]}

 {:id :dragonborn/ancestry-green
  :name "Dragonborn: Green Dragon Ancestor"
  :desc "Your breath weapon does Poison damage"
  :save :con
  :damage :poison
  :aoe [:cone 15]
  :! [[:!provide-feature
       {:id :dragonborn/damage-resistance
        :name "Damage Resistance"
        :desc "You have resistance to the damage type associated with your draconic ancestry (poison)"}]
      [:!provide-attr
       [:resistances :poison]
       true]]}

 {:id :dragonborn/ancestry-red
  :name "Dragonborn: Red Dragon Ancestor"
  :desc "Your breath weapon does Fire damage"
  :save :dex
  :damage :fire
  :aoe [:cone 15]
  :! [[:!provide-feature
       {:id :dragonborn/damage-resistance
        :name "Damage Resistance"
        :desc "You have resistance to the damage type associated with your draconic ancestry (fire)"}]
      [:!provide-attr
       [:resistances :fire]
       true]]}

 {:id :dragonborn/ancestry-silver
  :name "Dragonborn: Silver Dragon Ancestor"
  :desc "Your breath weapon does Cold damage"
  :save :con
  :damage :cold
  :aoe [:cone 15]
  :! [[:!provide-feature
       {:id :dragonborn/damage-resistance
        :name "Damage Resistance"
        :desc "You have resistance to the damage type associated with your draconic ancestry (cold)"}]
      [:!provide-attr
       [:resistances :cold]
       true]]}

 {:id :dragonborn/ancestry-white
  :name "Dragonborn: White Dragon Ancestor"
  :desc "Your breath weapon does Cold damage"
  :save :con
  :damage :cold
  :aoe [:cone 15]
  :! [[:!provide-feature
       {:id :dragonborn/damage-resistance
        :name "Damage Resistance"
        :desc "You have resistance to the damage type associated with your draconic ancestry (cold)"}]
      [:!provide-attr
       [:resistances :cold]
       true]]}
 ]
