(declare-race
  {:id :half-elf
   :name "Half-Elf"
   :attrs
   {:5e/ability-score-increase
    {:cha 2}
    :5e/size :medium
    :5e/speed 30}

   :! (on-state
        (provide-features
          :background
          :lang/common
          :lang/elvish
          :darkvision
          :fey-ancestry

          {:id :half-elf/ability-improvement
           :implicit? true
           :name "Ability Score Improvement"
           :desc "Two ability scores of your choice, other than Charisma, increase by 1."
           :max-options 2
           :values
           (for [abi [["Strength" :str]
                      ["Dexterity" :dex]
                      ["Constitution" :con]
                      ["Intelligence" :int]
                      ["Wisdom" :wis]]]
             (let [label (abi 0)
                   kw (abi 1)]
               {:id (keyword "ability" (name kw))
                :name label
                :! (on-state
                     (provide-attr
                       [:buffs kw (:wish/option-id state)] 1))}))}

          {:id :half-elf/skill-versatility
           :name "Skill Versatility"
           :desc "You gain proficiency in two skills of your choice"
           :max-options 2
           :values (items-from-list :all-skill-proficiencies)}

          {:id :half-elf/extra-language
           :name "Extra Language"
           :desc "You speak, read, and write one extra language of your choice"
           :max-options 1
           :values (items-from-list :all-languages)}

          ))})


