[:!provide-feature

 {:id :hit-dice/d8
  :name "Hit Dice: D8"
  :! [[:!add-limited-use
       {:id :hit-dice/d8#uses
        :name "D8"
        :restore-trigger :long-rest
        :restore-amount (fn [trigger used level]
                          (min used
                               (ceil (/ level 2))))
        :uses (fn [level]
                level)}]]}

 {:id :hit-dice/d10
  :name "Hit Dice: D10"
  :! [[:!add-limited-use
       {:id :hit-dice/d10#uses
        :name "D10"
        :restore-trigger :long-rest
        :restore-amount (fn [trigger used level]
                          (min used
                               (ceil (/ level 2))))
        :uses (fn [level]
                level)}]]}]
