#app {
  width: 60%;
}
.sections {
  display: -ms-flexbox !important;
  display: flex;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  -ms-flex-pack: center;
  justify-content: center;
}
.sections .section {
  width: 400px;
  margin: 8px;
}
.builder .builder-main {
  width: 600px;
}
.builder .section-arrow {
  -ms-grid-row-align: center;
  align-self: center;
  padding: 16px;
}
.feature-options .feature-option {
  cursor: pointer;
}
.feature-options .feature-option.active {
  cursor: default;
  border: 2px solid #333;
  border-radius: 2px;
}
