[:!declare-class
 {:id :barbarian
  :name "Barbarian"
  :attrs
  {:5e/starting-eq
   [(:greataxe {:type :weapon
                :ranged? false
                :category :martial})
    ({:id :handaxe
      :count 2}
     {:type :weapon
      :category :simple})
    [:explorers-pack {:id :javelin
                      :count 4}]]}

  :features
  [:hit-dice/d12
   :hp
   :unarmed-strike

   :save-proficiency/str
   :save-proficiency/con

   ; weapon proficiencies
   :proficiency/simple-weapons
   :proficiency/martial-weapons

   {:id :barbarian/skill-proficiencies
    :implicit? true
    :primary-only? true
    :max-options 2
    :values [:proficiency/animal-handling :proficiency/athletics :proficiency/intimidation
             :proficiency/nature :proficiency/perception :proficiency/survival]}

   {:id :barbarian/rage
    :name "Rage"
    :desc "In battle, you fight with primal ferocity. On your turn, you can enter a rage as a bonus action.
While raging, you gain the following benefits if you aren’t wearing heavy armor:
• You have advantage on Strength checks and Strength saving throws.
• When you make a melee weapon attack using Strength, you gain a bonus to the damage roll that increases as you gain levels as a barbarian, as shown in the Rage Damage column of the Barbarian table.
• You have resistance to bludgeoning, piercing, and slashing damage.
If you are able to cast spells, you can’t cast them or concentrate on them while raging.
Your rage lasts for 1 minute. It ends early if you are knocked unconscious or if your turn ends and you haven’t attacked a hostile creature since your last turn or taken damage since then. You can also end your rage on your turn as a bonus action.
Once you have raged the number of times shown for your barbarian level in the Rages column of the Barbarian table, you must finish a long rest before you can rage again."
    :consumes :barbarian/rage#uses
    :! [[:!provide-attr
         [:bonus :barbarian/rage]
         true]

        [:!add-limited-use
         {:id :barbarian/rage#uses
          :name "Rage"
          :uses (fn [level]
                  (cond
                    (< level 3) 2
                    (< level 6) 3
                    (< level 12) 4
                    (< level 17) 5

                    ; it's unlimited, but we don't have a way to
                    ; show that... This should be good enough
                    :else 10000))
          :restore-trigger :long-rest}]]}

   {:id :barbarian/unarmored-defense
    :name "Unarmored Defense"
    :desc "While you are not wearing any armor, your Armor Class equals 10 + your Dexterity modifier + your Constitution modifier. You can use a shield and still gain this benefit."
    :! [[:!provide-attr
         [:5e/ac :barbarian/unarmored-defense]
         (fn [modifiers]
           (+ 10
              (:dex modifiers)
              (:con modifiers)))]]}

   ]

  :&levels {2 {:+features
               [{:id :barbarian/reckless-attack
                 :name "Reckless Attack"
                 :desc "You can throw aside all concern for defense to attack with fierce desperation. When you make your first attack on your turn, you can decide to attack recklessly. Doing so gives you advantage on melee weapon attack rolls using Strength during this turn, but attack rolls against you have advantage until your next turn."}

                {:id :barbarian/danger-sense
                 :name "Danger Sense"
                 :desc "you gain an uncanny sense of when things nearby aren’t as they should be, giving you an edge when you dodge away from danger.
You have advantage on Dexterity saving throws against effects that you can see, such as traps and spells. To gain this benefit, you can’t be blinded, deafened, or incapacitated."}

                ]}

            3 {:+features
               [{:id :barbarian/path
                 :name "Primal Path"
                 :desc "At 3rd level, you choose a path that shapes the nature of your rage."
                 :max-options 1}
                ]}

            4 {:+features
               [:ability-improvement]}

            5 {:+features
               [:extra-attack

                {:id :barbarian/fast-movement
                 :name "Fast Movement"
                 :desc "Your speed increases by 10 feet while you aren’t wearing heavy armor."
                 :! [[:!provide-attr
                      [:buffs :speed :barbarian/unarmored-movement]
                      10]]}

                ]}

            7 {:+features
               [{:id :barbarian/feral-instinct
                 :name "Feral Instinct"
                 :desc "Your instincts are so honed that you have advantage on initiative rolls.
Additionally, if you are surprised at the beginning of combat and aren’t incapacitated, you can act normally on your first turn, but only if you enter your rage before doing anything else on that turn."}]}

            8 {:+features
               [:ability-improvement]}

            9 {:+features
               [{:id :barbarian/brutal-critical
                 :name "Brutal Critical"
                 :desc "Beginning at 9th level, you can roll one additional weapon damage die when determining the extra damage for a critical hit with a melee attack.
This increases to two additional dice at 13th level and three additional dice at 17th level."}]}

            11 {:+features
                [{:id :barbarian/relentless-rage
                  :name "Relentless Rage"
                  :desc "Starting at 11th level, your rage can keep you fighting despite grievous wounds. If you drop to 0 hit points while you’re raging and don’t die outright, you can make a DC 10 Constitution saving throw. If you succeed, you drop to 1 hit point instead.
Each time you use this feature after the first, the DC increases by 5. When you finish a short or long rest, the DC resets to 10."
                  ; TODO can we track this somehow?
                  }]}

            12 {:+features
                [:ability-improvement]}

            15 {:+features
                [{:id :barbarian/persistent-rage
                  :name "Persistent Rage"
                  :desc "Beginning at 15th level, your rage is so fierce that it ends early only if you fall unconscious or if you choose to end it."}]}

            16 {:+features
                [:ability-improvement]}

            18 {:+features
                [{:id :barbarian/indomitable-might
                  :name "Indomitable Might"
                  :desc "If your total for a Strength check is less than your Strength score, you can use that score in place of the total."}]}

            19 {:+features
                [:ability-improvement]}

            20 {:+feature
                [{:id :barbarian/primal-champion
                  :name "Primal Champion"
                  :desc "At 20th level, you embody the power of the wilds. Your Strength and Constitution scores increase by 4. Your maximum for those scores is now 24."
                  :! [[:!provide-attr
                       [:buffs :str]
                       4]
                      [:!provide-attr
                       [:buffs :con]
                       4]]}]}}}]

[:!provide-options
 :barbarian/path

 {:id :barbarian/path-berserker
  :name "Path of the Berserker"
  :desc "For some barbarians, rage is a means to an end— that end being violence. The Path of the Berserker is a path of untrammeled fury, slick with blood. As you enter the berserker’s rage, you thrill in the chaos of battle, heedless of your own health or well-being."
  :! [[:!provide-feature
       {:id :barbarian/frenzy
        :name "Frenzy"
        :desc "you can go into a frenzy when you rage. If you do so, for the duration of your rage you can make a single melee weapon attack as a bonus action on each of your turns after this one. When your rage ends, you suffer one level of exhaustion."}]
      [:!provide-attr
       [:bonus :barbarian/frenzy]
       true]]

  :&levels {6 {:+! [[:!provide-feature
                     {:id :barbarian/mindless-rage
                      :name "Mindless Rage"
                      :desc "You can’t be charmed or frightened while raging. If you are charmed or frightened when you enter your rage, the effect is suspended for the duration of the rage."}]]}

            10 {:+! [[:!provide-feature
                      {:id :barbarian/intimidating-presence
                       :name "Intimidating Presence"
                       :desc "You can use your action to frighten someone with your menacing presence. When you do so, choose one creature that you can see within 30 feet of you. If the creature can see or hear you, it must succeed on a Wisdom saving throw (DC equal to 8 + your proficiency bonus + your Charisma modifier) or be frightened of you until the end of your next turn. On subsequent turns, you can use your action to extend the duration of this effect on the frightened creature until the end of your next turn. This effect ends if the creature ends its turn out of line of sight or more than 60 feet away from you.
If the creature succeeds on its saving throw, you can’t use this feature on that creature again for 24 hours."
                       ; TODO surface this action
                       }]]}

            14 {:+! [[:!provide-feature
                      {:id :barbarian/retaliation
                       :name "Retaliation"
                       :desc "Starting at 14th level, when you take damage from a creature that is within 5 feet of you, you can use your reaction to make a melee weapon attack against that creature."}]
                     [:!provide-attr
                      [:reaction :barbarian/retaliation]
                      true]]}}}]
