[:!declare-class
 {:id :bard
  :name "Bard"
  :attrs
  {:5e/spellcaster
   {:cantrips [1 2,
               4 1,
               10 1]
    :known [4 5 6 7 8 9 10 11 12 14 15 15 16 18 19 19 20 22 22 22]
    :ability :cha
    :spells :bard/spells-list
    :extra-spells :bard/extra-spells
    :prepares? false
    }}

  :features
  [:hit-dice/d8
   :hp
   :unarmed-strike

   ; save proficiencies
   :save-proficiency/dex
   :save-proficiency/cha

   {:id :bard/skill-proficiencies
    :implicit? true
    :primary-only? true
    :max-options 3
    :values [:all-skill-proficiencies]}

   {:id :bard/inspiration
    :name "Bardic Inspiration"
    :desc "You can inspire others through stirring words or music. To do so, you use a bonus action on your turn to choose one creature other than yourself within 60 feet of you who can hear you. That creature gains one Bardic Inspiration die, a d6.
Once within the next 10 minutes, the creature can roll the die and add the number rolled to one ability check, attack roll, or saving throw it makes. The creature can wait until after it rolls the d20 before deciding to use the Bardic Inspiration die, but must decide before the GM says whether the roll succeeds or fails. Once the Bardic Inspiration die is rolled, it is lost. A creature can have only one Bardic Inspiration die at a time.
You can use this feature a number of times equal to your Charisma modifier (a minimum of once). You regain any expended uses when you finish a long rest.
Your Bardic Inspiration die changes when you reach certain levels in this class. The die becomes a d8 at 5th level, a d10 at 10th level, and a d12 at 15th level."

    ; because it shows up under bonus actions
    :consumes :bard/inspiration#uses

    :! [[:!provide-attr
         [:bonus :bard/inspiration]
         true]

        [:!add-limited-use
         {:id :bard/inspiration#uses
          :name "Bardic Inspiration"
          :restore-trigger :long-rest
          :uses (fn [modifiers]
                  (:cha modifiers))
          :&levels {5 {:restore-trigger :short-rest}}}]]}]

  :&levels {2 {:+features
               [{:id :bard/jack-all-trades
                 :name "Jack of All Trades"
                 :desc "Starting at 2nd level, you can add half your proficiency bonus, rounded down, to any ability check you make that doesn’t already include your proficiency bonus."}
                {:id :bard/song-rest
                 :name "Song of Rest"
                 :desc "Beginning at 2nd level, you can use soothing music or oration to help revitalize your wounded allies during a short rest. If you or any friendly creatures who can hear your performance regain hit points at the end of the short rest by spending one or more Hit Dice, each of those creatures regains an extra 1d6 hit points.
The extra hit points increase when you reach certain levels in this class: to 1d8 at 9th level, to 1d10 at 13th level, and to 1d12 at 17th level."}]}

            ; TODO Expertise
            ; TODO countercharm
            ; TODO magical secrets
            ; TODO superior inspiration

            3 {:+features
               [{:id :bard/college
                 :name "Bard College"
                 :desc "At 3rd level, you delve into the advanced techniques of a bard college of your choice, such as the College of Lore. Your choice grants you features at 3rd level and again at 6th and 14th level."
                 :max-options 1}]}

            4 {:+features
               [:ability-improvement]}

            5 {:+features
               [{:id :bard/font-of-inspiration
                 :name "Font of Inspiration"
                 :desc "Beginning when you reach 5th level, you regain all of your expended uses of Bardic Inspiration when you finish a short or long rest."}]}

            8 {:+features
               [:ability-improvement]}
            12 {:+features
                [:ability-improvement]}
            16 {:+features
                [:ability-improvement]}
            19 {:+features
                [:ability-improvement]}}}]

[:!provide-options
 :bard/college

 {:id :bard/college-lore
  :name "College of Lore"
  :desc "Bards of the College of Lore know something about most things, collecting bits of knowledge from sources as diverse as scholarly tomes and peasant tales. Whether singing folk ballads in taverns or elaborate compositions in royal courts, these bards use their gifts to hold audiences spellbound. When the applause dies down, the audience members might find themselves questioning everything they held to be true, from their faith in the priesthood of the local temple to their loyalty to the king.
The loyalty of these bards lies in the pursuit of beauty and truth, not in fealty to a monarch or following the tenets of a deity. A noble who keeps such a bard as a herald or advisor knows that the bard would rather be honest than politic.
The college’s members gather in libraries and sometimes in actual colleges, complete with classrooms and dormitories, to share their lore with one another. They also meet at festivals or affairs of state, where they can expose corruption, unravel lies, and poke fun at self-important figures of authority."
  :! [[:!provide-feature

       {:id :bard/bonus-proficiencies
        :name "Bonus Proficiencies"
        :desc "When you join the College of Lore at 3rd level, you gain proficiency with three skills of your choice."
        :max-options 3
        :values [:all-skill-proficiencies]}

       {:id :bard/cutting-words
        :name "Cutting Words"
        :desc "Also at 3rd level, you learn how to use your wit to distract, confuse, and otherwise sap the confidence and competence of others. When a creature that you can see within 60 feet of you makes an attack roll, an ability check, or a damage roll, you can use your reaction to expend one of your uses of Bardic Inspiration, rolling a Bardic Inspiration die and subtracting the number rolled from the creature’s roll. You can choose to use this feature after the creature makes its roll, but before the GM determines whether the attack roll or ability check succeeds or fails, or before the creature deals its damage. The creature is immune if it can’t hear you or if it’s immune to being charmed."
        :consumes :bard/inspiration#uses
        :! [[:!provide-attr
             [:reaction :bard/cutting-words]
             true]]}
       ]]

  :&levels {6 {:+! [[:!provide-feature
                     {:id :bard/additional-magic-secrets
                      :name "Additional Magic Secrets"
                      :desc "At 6th level, you learn two spells of your choice from any class. A spell you choose must be of a level you can cast, as shown on the Bard table, or a cantrip. The chosen spells count as bard spells for you but don’t count against the number of bard spells you know."
                      :max-options 2
                      :values [:all-spells]
                      :! [[:!add-to-list
                           :bard/extra-spells

                           ; special syntax to add the selected
                           ; options from this feature
                           :bard/additional-magic-secrets>>options

                           ]]
                      }]]}

            14 {:+! [[:!provide-feature
                      {:id :bard/peerless-skill
                       :name "Peerless Skill"
                       :desc "Starting at 14th level, when you make an ability check, you can expend one use of Bardic Inspiration. Roll a Bardic Inspiration die and add the number rolled to your ability check. You can choose to do so after you roll the die for the ability check, but before the GM tells you whether you succeed or fail."
                       :consumes :bard/inspiration#uses}]]}}}
 ]
