[:!declare-class
 {:id :bard
  :name "Bard"
  :attrs
  {:5e/spellcaster
   {:cantrips [1 2,
               4 1,
               10 1]
    :known [4 5 6 7 8 9 10 11 12 14 15 15 16 18 19 19 20 22 22 22]
    :ability :cha
    :spells :bard/spells-list
    :extra-spells :bard/extra-spells
    :prepares? false
    }}

  :features
  [:hit-dice/d8
   :background
   :hp
   :unarmed-strike

   ; save proficiencies
   :save-proficiency/dex
   :save-proficiency/cha

   {:id :bard/skill-proficiencies
    :implicit? true
    :primary-only? true
    :max-options 3
    :values [:all-skill-proficiencies]}

   {:id :bard/inspiration
    :name "Bardic Inspiration"
    :desc "You can inspire others through stirring words or music. To do so, you use a bonus action on your turn to choose one creature other than yourself within 60 feet of you who can hear you. That creature gains one Bardic Inspiration die, a d6.
Once within the next 10 minutes, the creature can roll the die and add the number rolled to one ability check, attack roll, or saving throw it makes. The creature can wait until after it rolls the d20 before deciding to use the Bardic Inspiration die, but must decide before the GM says whether the roll succeeds or fails. Once the Bardic Inspiration die is rolled, it is lost. A creature can have only one Bardic Inspiration die at a time.
You can use this feature a number of times equal to your Charisma modifier (a minimum of once). You regain any expended uses when you finish a long rest.
Your Bardic Inspiration die changes when you reach certain levels in this class. The die becomes a d8 at 5th level, a d10 at 10th level, and a d12 at 15th level."
    :! [[:!add-limited-use
         {:id :bard/inspiration#uses
          :name "Bardic Inspiration"
          :restore-trigger :long-rest
          :uses (fn [modifiers]
                  (:cha modifiers))
          :! [[:!provide-attr
               [:bonus :bard/inspiration]
               true]]
          :levels {5 {:restore-trigger :short-rest}}}]]}]

  :&levels {2 {:+features
               [{:id :bard/jack-all-trades
                 :name "Jack of All Trades"
                 :desc "Starting at 2nd level, you can add half your proficiency bonus, rounded down, to any ability check you make that doesn’t already include your proficiency bonus."}
                {:id :bard/song-rest
                 :name "Beginning at 2nd level, you can use soothing music or oration to help revitalize your wounded allies during a short rest. If you or any friendly creatures who can hear your performance regain hit points at the end of the short rest by spending one or more Hit Dice, each of those creatures regains an extra 1d6 hit points.
The extra hit points increase when you reach certain levels in this class: to 1d8 at 9th level, to 1d10 at 13th level, and to 1d12 at 17th level."}]}

            3 {:+features
               [{:id :bard/college
                 :name "Bard College"
                 :desc "At 3rd level, you delve into the advanced techniques of a bard college of your choice, such as the College of Lore. Your choice grants you features at 3rd level and again at 6th and 14th level."
                 :max-options 1}]}

            4 {:+features
               [:ability-improvement]}
            8 {:+features
               [:ability-improvement]}
            12 {:+features
                [:ability-improvement]}
            16 {:+features
                [:ability-improvement]}
            19 {:+features
                [:ability-improvement]}}}]

