[:!declare-class
 {:id :druid
  :name "Druid"
  :attrs
  {:5e/spellcaster
   {:cantrips [1 2,
               4 1,
               10 1]
    :ability :wis
    :spells :druid/spells-list
    :extra-spells :druid/extra-spells
    :prepares? true}

   :5e/starting-eq
   [(:shield {:type :weapon
              :category :simple})
    (:scimitar {:type :weapon
                :ranged? false
                :category :simple})
    [:leather-armor :explorers-pack {:kind :druidic-focus}]]}

  :5e/multiclass-reqs
  {:wis 13}

  :features
  [:hit-dice/d8
   :hp
   :unarmed-strike
   :feats

   ; save proficiencies
   :save-proficiency/int
   :save-proficiency/wis

   ; weapon proficiencies
   :proficiency/club
   :proficiency/dagger
   :proficiency/dart
   :proficiency/javelin
   :proficiency/mace
   :proficiency/quarterstaff
   :proficiency/scimitar
   :proficiency/sickle
   :proficiency/sling
   :proficiency/spear

   ; armor proficiencies
   :proficiency/light-armor
   :proficiency/medium-armor
   :proficiency/shields

   {:id :druid/skill-proficiencies
    :implicit? true
    :primary-only? true
    :max-options 2
    :name "Druid Proficiencies"
    :values [:proficiency/arcana :proficiency/animal-handling
             :proficiency/insight :proficiency/medicine
             :proficiency/nature :proficiency/perception
             :proficiency/religion :proficiency/survival] }

   {:id :druid/druidic
    :name "Druidic"
    :desc "You know Druidic, the secret language of druids. You can speak the language and use it to leave hidden messages. You and others who know this language automatically spot such a message. Others spot the message’s presence with a successful DC 15 Wisdom (Perception) check but can’t decipher it without magic."}

   ]

  :&levels {2 {:+features
               [{:id :druid/wild-shape
                 :name "Wild Shape"
                 :desc "Starting at 2nd level, you can use your action to magically assume the shape of a beast that you have seen before. You can use this feature twice. You regain expended uses when you finish a short or long rest.
                        Your druid level determines the beasts you can transform into, as shown in the Beast Shapes table. At 2nd level, for example, you can transform into any beast that has a challenge rating of 1/4 or lower that doesn’t have a flying or swimming speed.
                        You can stay in a beast shape for a number of hours equal to half your druid level (rounded down). You then revert to your normal form unless you expend another use of this feature. You can revert to your normal form earlier by using a bonus action on your turn. You automatically revert if you fall unconscious, drop to 0 hit points, or die.

                        While you are transformed, the following rules apply:
                        Your game statistics are replaced by the statistics of the beast, but you retain your alignment, personality, and Intelligence, Wisdom, and Charisma scores. You also retain all of your skill and saving throw proficiencies, in addition to gaining those of the creature. If the creature has the same proficiency as you and the bonus in its stat block is higher than yours, use the creature’s bonus instead of yours. If the creature has any legendary or lair actions, you can’t use them.
                        • When you transform, you assume the beast’s hit points and Hit Dice. When you revert to your normal form, you return to the number of hit points you had before you transformed. However, if you revert as a result of dropping to 0 hit points, any excess damage carries over to your normal form. For example, if you take 10 damage in animal form and have only 1 hit point left, you revert and take 9 damage. As long as the excess damage doesn’t reduce your normal form to 0 hit points, you aren’t knocked unconscious.
                        • You can’t cast spells, and your ability to speak or take any action that requires hands is limited to the capabilities of your beast form. Transforming doesn’t break your concentration on a spell you’ve already cast, however, or prevent you from taking actions that are part of a spell, such as call lightning, that you’ve already cast.
                        • You retain the benefit of any features from your class, race, or other source and can use them if the new form is physically capable of doing so. However, you can’t use any of your special senses, such as darkvision, unless your new form also has that sense.
                        • You choose whether your equipment falls to the ground in your space, merges into your new form, or is worn by it. Worn equipment functions as normal, but the GM decides whether it is practical for the new form to wear a piece of equipment, based on the creature’s shape and size. Your equipment doesn’t change size or shape to match the new form, and any equipment that the new form can’t wear must either fall to the ground or merge with it. Equipment that merges with the form has no effect until you leave the form."
                 :consumes :druid/wild-shape#uses
                 :! [[:!add-limited-use
                      {:id :druid/wild-shape#uses
                       :name "Wild Shape"
                       :uses 2
                       :restore-trigger :short-rest}]
                     [:!provide-attr
                      [:action :druid/wild-shape#uses]
                      true]]
                 :levels {4 {:>>desc "\nAt 4th level, you can transform into any beast that has a challenge rating of 1/2 or lower that doesn't have a flying speed, such as a crocadile."}
                          5 {:>>desc "\nAt 5th level, you can transform into any beast that has a challenge rating of 1/2 or lower that doesn't have a flying speed, such as a crocadile."}
                          6 {:>>desc "\nAt 6th level, you can transform into any beast that has a challenge rating of 1/2 or lower that doesn't have a flying speed, such as a crocadile."}
                          7 {:>>desc "\nAt 7th level, you can transform into any beast that has a challenge rating of 1/2 or lower that doesn't have a flying speed, such as a crocadile."}}
                 :&levels {8 {:>>desc "\nAt 8th level and above, you can transform into any beast that has a challenge rating of 1 or lower."}}}

                {:id :druid/circle
                 :name "Druid Circle"
                 :desc "At 2nd level, you choose to identify with a circle of druids."
                 :max-options 1}]}

            4 {:+features
               [:ability-improvement]}
            8 {:+features
               [:ability-improvement]}
            12 {:+features
                [:ability-improvement]}
            16 {:+features
                [:ability-improvement]}

            18 {:+features
                [{:id :druid/timeless-body
                  :name "Timeless Body"
                  :desc "Starting at 18th level, the primal magic that you wield causes you to age more slowly. For every 10 years that pass, your body ages only 1 year."}
                 {:id :druid/beast-spells
                  :name "Beast Spells"
                  :desc "Beginning at 18th level, you can cast many of your druid spells in any shape you assume using Wild Shape. You can perform the somatic and verbal components of a druid spell while in a beast shape, but you aren’t able to provide material components."}]}

            19 {:+features
                [:ability-improvement]}
            20 {:+features
                [{:id :druid/arch
                  :name "Archdruid"
                  :desc "At 20th level, you can use your Wild Shape an unlimited number of times.
Additionally, you can ignore the verbal and somatic components of your druid spells, as well as any material components that lack a cost and aren’t consumed by a spell. You gain this benefit in both your normal shape and your beast shape from Wild Shape."}]}}}]

[:!provide-options
 :druid/circle

 {:id :druid/circle-land
  :name "Circle of the Land"
  :desc "The Circle of the Land is made up of mystics and sages who safeguard ancient knowledge and rites through a vast oral tradition. These druids meet within sacred circles of trees or standing stones to whisper primal secrets in Druidic. The circle’s wisest members preside as the chief priests of communities that hold to the Old Faith and serve as advisors to the rulers of those folk. As a member of this circle, your magic is influenced by the land where you were initiated into the circle’s mysterious rites."
  :! [[:!provide-feature
       {:id :druid/bonus-cantrip
        :name "Bonus Cantrip"
        :desc "When you choose this circle at 2nd level, you learn one additional druid cantrip of your choice."
        :max-options 1
        :values [:druid/cantrips-list]
        :! [[:!add-to-list
             :druid/extra-spells

             ; special syntax to add the selected
             ; options from this feature
             :druid/bonus-cantrip>>options
             ]]
        }

       {:id :druid/natural-recovery
        :name "Natural Recovery"
        :desc "You can regain some of your magical energy by sitting in meditation and communing with nature. During a short rest, you choose expended spell slots to recover. The spell slots can have a combined level that is equal to or less than half your druid level (rounded up), and none of the slots can be 6th level or higher. You can’t use this feature again until you finish a long rest.
For example, when you are a 4th-level druid, you can recover up to two levels worth of spell slots. You can recover either a 2nd-level slot or two 1st-level slots."
        :! [[:!add-limited-use
             {:id :druid/natural-recovery#uses
              :name "Natural Recovery"
              :restore-trigger :long-rest
              :uses 1}]]}

       {:id :druid/circle-spells
        :name "Circle Spells"
        :desc "Your mystical connection to the land infuses you with the ability to cast certain spells. At 3rd, 5th, 7th, and 9th level you gain access to circle spells connected to the land where you became a druid. Choose that land—arctic, coast, desert, forest, grassland, mountain, or swamp—and consult the associated list of spells.
Once you gain access to a circle spell, you always have it prepared, and it doesn’t count against the number of spells you can prepare each day. If you gain access to a spell that doesn’t appear on the druid spell list, the spell is nonetheless a druid spell for you."
        :max-options 1}]]

  :&levels {6 {:+! [[:!provide-feature
                     {:id :druid/lands-stride
                      :name "Land's Stride"
                      :desc "Starting at 6th level, moving through nonmagical difficult terrain costs you no extra movement. You can also pass through nonmagical plants without being slowed by them and without taking damage from them if they have thorns, spines, or a similar hazard.
In addition, you have advantage on saving throws against plants that are magically created or manipulated to impede movement, such those created by the entangle spell."}]]}

            10 {:+! [[:!provide-feature
                      {:id :druid/natures-ward
                       :name "Druid's Ward"
                       :desc "When you reach 10th level, you can’t be charmed or frightened by elementals or fey, and you are immune to poison and disease."
                       :! [[:!provide-attr [:saves :druid/natures-ward]
                            {:desc "You can't be charmed or fightened by elementals or fey, and you are immune to poison and disease."}]]}]]}

            14 {:+! [[:!provide-feature
                      {:id :druid/natures-sanctuary
                       :name "Nature's Sanctuary"
                       :desc "When you reach 14th level, creatures of the natural world sense your connection to nature and become hesitant to attack you. When a beast or plant creature attacks you, that creature must make a Wisdom saving throw against your druid spell save DC. On a failed save, the creature must choose a different target, or the attack automatically misses. On a successful save, the creature is immune to this effect for 24 hours.
The creature is aware of this effect before it makes its attack against you."}]]}}}
 ]

[:!provide-options
 :druid/circle-spells

 {:id :druid/circle-arctic
  :name "Druid Circle: Arctic"
  :&levels {3 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/hold-person
                      :spell/spike-growth]]]}
            5 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/sleet-storm
                      :spell/slow]]]}
            7 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/freedom-of-movement
                      :spell/ice-storm]]]}
            9 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/commune-with-nature
                      :spell/cone-of-cold]]]}}}

 {:id :druid/circle-coast
  :name "Druid Circle: Coast"
  :&levels {3 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/mirror-image
                      :spell/misty-step]]]}
            5 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/water-breathing
                      :spell/water-walk]]]}
            7 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/control-water
                      :spell/freedom-of-movement]]]}
            9 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/conjure-elemental
                      :spell/scrying]]]}}}

 {:id :druid/circle-desert
  :name "Druid Circle: Desert"
  :&levels {3 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/blur
                      :spell/silence]]]}
            5 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/create-food-and-water
                      :spell/protection-from-energy]]]}
            7 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/blight
                      :spell/hallucinatory-terrain]]]}
            9 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/insect-plague
                      :spell/wall-of-stone]]]}}}

 {:id :druid/circle-forest
  :name "Druid Circle: Forest"
  :&levels {3 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/barkskin
                      :spell/spider-climb]]]}
            5 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/call-lightning
                      :spell/plant-growth]]]}
            7 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/divination
                      :spell/freedom-of-movement]]]}
            9 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/commune-with-nature
                      :spell/tree-stride]]]}}}

 {:id :druid/circle-grassland
  :name "Druid Circle: Grassland"
  :&levels {3 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/invisibility
                      :spell/pass-without-trace]]]}
            5 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/daylight
                      :spell/haste]]]}
            7 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/divination
                      :spell/freedom-of-movement]]]}
            9 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/dream
                      :spell/insect-plague]]]}}}

 {:id :druid/circle-mountain
  :name "Druid Circle: Mountain"
  :&levels {3 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/spider-climb
                      :spell/spike-growth]]]}
            5 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/lightning-bolt
                      :spell/meld-into-stone]]]}
            7 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/stone-shape
                      :spell/stoneskin]]]}
            9 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/passwall
                      :spell/wall-of-stone]]]}}}

 {:id :druid/circle-swamp
  :name "Druid Circle: Swamp"
  :&levels {3 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/acid-arrow
                      :spell/darkness]]]}
            5 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/water-walk
                      :spell/stinking-cloud]]]}
            7 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/freedom-of-movement
                      :spell/locate-creature]]]}
            9 {:+! [[:!add-to-list
                     :druid/extra-spells
                     [:spell/insect-plague
                      :spell/scrying]]]}}}

 ]
