[:!declare-class
 {:id :sorcerer
  :name "Sorcerer"
  :attrs
  {:5e/spellcaster
   {:cantrips [1 4,
               4 1,
               10 1]
    :known [2 3 4 5 6 7 8 9 10 11 12 12 13 13 14 14 15 15 15 15]
    :ability :cha
    :spells :sorcerer/spells-list
    :extra-spells :sorcerer/extra-spells
    :prepares? false
    }

   :5e/starting-eq
   [([:light-crossbow :crossbow-bolt] {:type :weapon
                                       :category :simple})
    (:component-pouch {:kind :arcane-focus})
    (:dungeoneers-pack :explorers-pack)
    [{:id :dagger
      :count 2}]]}

  :features
  [:hit-dice/d6
   :hp
   :unarmed-strike

   ; save proficiencies
   :save-proficiency/con
   :save-proficiency/cha

   ; weapon proficiencies
   :proficiency/dagger
   :proficiency/dart
   :proficiency/sling
   :proficiency/quarterstaff
   :proficiency/light-crossbow

   {:id :sorcerer/skill-proficiencies
    :implicit? true
    :primary-only? true
    :max-options 2
    :values [:proficiency/arcana :proficiency/deception :proficiency/insight :proficiency/intimidation :proficiency/persuasion :proficiency/religion]}

   {:id :sorcerer/origin
    :name "Sorcerous Origin"
    :desc "Choose a sorcerous origin, which describes the source of your innate magical power, such as Draconic Bloodline.
Your choice grants you features when you choose it at 1st level and again at 6th, 14th, and 18th level."
    :max-options 1}
   ]

  :&levels {2 {:+features
               [{:id :sorcerer/font-of-magic
                 :name "Font of Magic"
                 :desc "At 2nd level, you tap into a deep wellspring of magic within yourself. This wellspring is represented by sorcery points, which allow you to create a variety of magical effects."
                 :! [[:!add-limited-use
                      {:id :sorcerer/points#uses
                       :name "Sorcery Points"
                       :uses (fn [level] level)

                       :restore-trigger :long-rest
                       :restore-amount (fn [trigger used level]
                                         (if (= :short-rest trigger)
                                           ; at level 20 we can recover
                                           ; up to 4
                                           (when (= 20 level)
                                             (min used 4))

                                           ; recover all on long rest
                                           used))
                       :levels {20 {:restore-trigger :short-rest}}}]]}]}

            3 {:+features
               [{:id :sorcerer/metamagic
                 :name "Metamagic"
                 :desc "At 3rd level, you gain the ability to twist your spells to suit your needs. You gain two of the following Metamagic options of your choice. You gain another one at 10th and 17th level.
You can use only one Metamagic option on a spell when you cast it, unless otherwise noted."
                 :max-options (fn [level]
                                (cond
                                  (< level 10) 2
                                  (< level 17) 3
                                  :else 4))}]}

            4 {:+features
               [:ability-improvement]}
            8 {:+features
               [:ability-improvement]}
            12 {:+features
                [:ability-improvement]}
            16 {:+features
                [:ability-improvement]}
            19 {:+features
                [:ability-improvement]}}
  }]

;;
;; Metamagic options
;;

[:!provide-options
 :sorcerer/metamagic

 {:id :sorcerer/metamagic-careful
  :name "Careful Spell"
  :desc "When you cast a spell that forces other creatures to make a saving throw, you can protect some of those creatures from the spell’s full force. To do so, you spend 1 sorcery point and choose a number of those creatures up to your Charisma modifier (minimum of one creature). A chosen creature automatically succeeds on its saving throw against the spell."
  :consumes :sorcerer/points#uses}

 {:id :sorcerer/metamagic-distant
  :name "Distant Spell"
  :desc "When you cast a spell that has a range of 5 feet or greater, you can spend 1 sorcery point to double the range of the spell.
When you cast a spell that has a range of touch, you can spend 1 sorcery point to make the range of the spell 30 feet."
  :consumes :sorcerer/points#uses}

 {:id :sorcerer/metamagic-empowered
  :name "Empowered Spell"
  :desc "When you roll damage for a spell, you can spend 1 sorcery point to reroll a number of the damage dice up to your Charisma modifier (minimum of one). You must use the new rolls.
You can use Empowered Spell even if you have already used a different Metamagic option during the casting of the spell."
  :consumes :sorcerer/points#uses}

 {:id :sorcerer/metamagic-extended
  :name "Extended Spell"
  :desc "When you cast a spell that has a duration of 1 minute or longer, you can spend 1 sorcery point to double its duration, to a maximum duration of 24 hours."
  :consumes :sorcerer/points#uses}

 {:id :sorcerer/metamagic-heightened
  :name "Heightened Spell"
  :desc "When you cast a spell that forces a creature to make a saving throw to resist its effects, you can spend 3 sorcery points to give one target of the spell disadvantage on its first saving throw made against the spell."
  :consumes :sorcerer/points#uses}

 {:id :sorcerer/metamagic-quickened
  :name "Quickened Spell"
  :desc "When you cast a spell that has a casting time of 1 action, you can spend 2 sorcery points to change the casting time to 1 bonus action for this casting."
  :consumes :sorcerer/points#uses}

 {:id :sorcerer/metamagic-subtle
  :name "Subtle Spell"
  :desc "When you cast a spell, you can spend 1 sorcery point to cast it without any somatic or verbal components."
  :consumes :sorcerer/points#uses}

 {:id :sorcerer/metamagic-twinned
  :name "Twinned Spell"
  :desc "When you cast a spell that targets only one creature and doesn’t have a range of self, you can spend a number of sorcery points equal to the spell’s level to target a second creature in range with the same spell (1 sorcery point if the spell is a cantrip).
To be eligible, a spell must be incapable of targeting more than one creature at the spell’s current level. For example, **magic missile** and **scorching ray** aren’t eligible, but **ray of frost** is."
  :consumes :sorcerer/points#uses}]

;;
;; Sorcerer origin
;;

[:!provide-options
 :sorcerer/origin
 {:id :sorcerer/origin-draconic-bloodline
  :name "Draconic Bloodline"
  :desc "Your innate magic comes from draconic magic that was mingled with your blood or that of your ancestors. Most often, sorcerers with this origin trace their descent back to a mighty sorcerer of ancient times who made a bargain with a dragon or who might even have claimed a dragon parent. Some of these bloodlines are well established in the world, but most are obscure. Any given sorcerer could be the first of a new bloodline, as a result of a pact or some other exceptional circumstance."
  :! [[:!provide-feature

       :lang/draconic

       {:id :sorcerer/origin-dragon-ancestor
        :name "Dragon Ancestor"
        :desc "At 1st level, you choose one type of dragon as your ancestor. The damage type associated with each dragon is used by features you gain later.
You can speak, read, and write Draconic. Additionally, whenever you make a Charisma check when interacting with dragons, your proficiency bonus is doubled if it applies to the check."
        :max-options 1
        :values [{:id :dragon/black
                  :name "Black Dragon Ancestor"
                  :desc "The damage type associated with your draconic lineage is Acid."
                  :! [[:!provide-attr :dragon-damage "Acid"]]}
                 {:id :dragon/blue
                  :name "Blue Dragon Ancestor"
                  :desc "The damage type associated with your draconic lineage is Lightning."
                  :! [[:!provide-attr :dragon-damage "Lightning"]]}
                 {:id :dragon/brass
                  :name "Brass Dragon Ancestor"
                  :desc "The damage type associated with your draconic lineage is Fire."
                  :! [[:!provide-attr :dragon-damage "Fire"]]}
                 {:id :dragon/bronze
                  :name "Bronze Dragon Ancestor"
                  :desc "The damage type associated with your draconic lineage is Lightning."
                  :! [[:!provide-attr :dragon-damage "Lightning"]]}
                 {:id :dragon/copper
                  :name "Copper Dragon Ancestor"
                  :desc "The damage type associated with your draconic lineage is Acid."
                  :! [[:!provide-attr :dragon-damage "Acid"]]}
                 {:id :dragon/gold
                  :name "Gold Dragon Ancestor"
                  :desc "The damage type associated with your draconic lineage is Fire."
                  :! [[:!provide-attr :dragon-damage "Fire"]]}
                 {:id :dragon/green
                  :name "Green Dragon Ancestor"
                  :desc "The damage type associated with your draconic lineage is Poison."
                  :! [[:!provide-attr :dragon-damage "Poison"]]}
                 {:id :dragon/red
                  :name "Red Dragon Ancestor"
                  :desc "The damage type associated with your draconic lineage is Fire."
                  :! [[:!provide-attr :dragon-damage "Fire"]]}
                 {:id :dragon/silver
                  :name "Silver Dragon Ancestor"
                  :desc "The damage type associated with your draconic lineage is Cold."
                  :! [[:!provide-attr :dragon-damage "Cold"]]}
                 {:id :dragon/white
                  :name "White Dragon Ancestor"
                  :desc "The damage type associated with your draconic lineage is Cold."
                  :! [[:!provide-attr :dragon-damage "Cold"]]}]}

       {:id :sorcerer/draconic-resilience
        :name "Draconic Resilience"
        :desc "As magic flows through your body, it causes physical traits of your dragon ancestors to emerge. At 1st level, your hit point maximum increases by 1 and increases by 1 again whenever you gain a level in this class.
Additionally, parts of your skin are covered by a thin sheen of dragon-like scales. When you aren’t wearing armor, your AC equals 13 + your Dexterity modifier."
        :! [[:!provide-attr
             [:buffs :hp-max :sorcerer/draconic-resilience]
             (fn [level] level)]

            [:!provide-attr
             [:5e/ac :sorcerer/draconic-resilience]
             (fn [modifiers armor?]
               (when-not armor?
                 (+ 13 (:dex modifiers))))]]}]]

  :&levels {6 {:+! [[:!provide-feature
                     {:id :sorcerer/draconic-elemental-affinity
                      :name "Elemental Affinity"
                      :desc "Starting at 6th level, when you cast a spell that deals damage of the type associated with your draconic ancestry, you can add your Charisma modifier to one damage roll of that spell. At the same time, you can spend 1 sorcery point to gain resistance to that damage type for 1 hour."}]]}

            14 {:+! [[:!provide-feature
                      {:id :sorcerer/dragon-wings
                       :name "Dragon Wings"
                       :desc "At 14th level, you gain the ability to sprout a pair of dragon wings from your back, gaining a flying speed equal to your current speed. You can create these wings as a bonus action on your turn. They last until you dismiss them as a bonus action on your turn.
You can’t manifest your wings while wearing armor unless the armor is made to accommodate them, and clothing not made to accommodate your wings might be destroyed when you manifest them."
                       :! [[:!provide-attr
                            [:bonus :sorcerer/dragon-wings]
                            true]]}]]}

            18 {:+! [[:!provide-feature
                      {:id :sorcerer/draconic-presence
                       :name "Draconic Presence"
                       :desc "Beginning at 18th level, you can channel the dread presence of your dragon ancestor, causing those around you to become awestruck or frightened. As an action, you can spend 5 sorcery points to draw on this power and exude an aura of awe or fear (your choice) to a distance of 60 feet. For 1 minute or until you lose your concentration (as if you were casting a concentration spell), each hostile creature that starts its turn in this aura must succeed on a Wisdom saving throw or be charmed (if you chose awe) or frightened (if you chose fear) until the aura ends. A creature that succeeds on this saving throw is immune to your aura for 24 hours."}]]}}}]
