[:!declare-class
 {:id :wizard
  :name "Wizard"
  :attrs
  {:5e/spellcaster
   {:cantrips [1 3,
               4 1,
               10 1]
    :ability :int
    :spells :wizard/spells-list
    :extra-spells :wizard/extra-spells
    :acquires?-spells :wizard/prepared-spells
    :acquired-label "Spellbook"
    :prepares? true
    :acquires? true
    }

   :5e/starting-eq
   [(:quarterstaff :dagger)
    (:component-pouch {:kind :arcane-focus})
    (:scholars-pack :explorers-pack)
    [:spellbook]]}

  :features
  [:hit-dice/d6
   :hp
   :unarmed-strike
   :feats

   ; save proficiencies
   :save-proficiency/int
   :save-proficiency/wis

   ; weapon proficiencies
   :proficiency/dagger
   :proficiency/dart
   :proficiency/sling
   :proficiency/quarterstaff
   :proficiency/light-crossbow

   {:id :wizard/skill-proficiencies
    :implicit? true
    :primary-only? true
    :max-options 2
    :name "Wizard Proficiencies"
    :values [:proficiency/arcana :proficiency/history :proficiency/insight :proficiency/investigation :proficiency/medicine :proficiency/religion]}

   {:id :wizard/arcane-recovery
    :name "Arcane Recovery"
    :desc "You have learned to regain some of your magical energy by studying your spellbook. Once per day when you finish a short rest, you can choose expended spell slots to recover. The spell slots can have a combined level that is equal to or less than half your wizard level (rounded up), and none of the slots can be 6th level or higher.

For example, if you’re a 4th-level wizard, you can recover up to two levels worth of spell slots. You can recover either a 2nd-level spell slot or two 1st-level spell slots."
    :! [[:!add-limited-use
         {:id :wizard/arcane-recovery
          :name "Arcane Recovery"
          :restore-trigger :long-rest
          :uses 1}]]}]

  :&levels {2 {:+features
               [{:id :wizard/tradition
                 :name "Arcane Tradition"
                 :desc "When you reach 2nd level, you choose an arcane tradition, shaping your practice of magic through one of eight schools, such as Evocation."
                 :max-options 1}]}

            4 {:+features
               [:ability-improvement]}
            8 {:+features
               [:ability-improvement]}
            12 {:+features
                [:ability-improvement]}
            16 {:+features
                [:ability-improvement]}

            18 {:+features
                [{:id :wizard/spell-mastery
                  :name "Spell Mastery"
                  :desc "At 18th level, you have achieved such mastery over certain spells that you can cast them at will. Choose a 1st-level wizard spell and a 2nd-level wizard spell that are in your spellbook. You can cast those spells at their lowest level without expending a spell slot when you have them prepared. If you want to cast either spell at a higher level, you must expend a spell slot as normal.
By spending 8 hours in study, you can exchange one or both of the spells you chose for different spells of the same levels."}

                 {:id :wizard/spell-mastery-1
                  :name "Spell Mastery: Level 1 Spell"
                  :max-options 1
                  :values [:wizard/spells-list>>options]
                  :values-filter (fn [spell-level]
                                   (= 1 spell-level))}
                 {:id :wizard/spell-mastery-2
                  :name "Spell Mastery: Level 2 Spell"
                  :max-options 1
                  :values [:wizard/spells-list>>options]
                  :values-filter (fn [spell-level]
                                   (= 2 spell-level))}
                 ]}

            19 {:+features
                [:ability-improvement]}
            20 {:+features
                [{:id :wizard/signature-spells
                  :name "Signature Spells"
                  :desc "When you reach 20th level, you gain mastery over two powerful spells and can cast them with little effort. Choose two 3rd-level wizard spells in your spellbook as your signature spells. You always have these spells prepared, they don’t count against the number of spells you have prepared, and you can cast each of them once at 3rd level without expending a spell slot. When you do so, you can’t do so again until you finish a short or long rest.
If you want to cast either spell at a higher level, you must expend a spell slot as normal."
                  :max-options 2
                  :values [:wizard/spells-list>>options]
                  :values-filter (fn [spell-level]
                                   (= 3 spell-level))
                  :! [[:!add-to-list
                       :wizard/extra-spells
                       :wizard/signature-spells>>options]
                      [:!add-limited-use
                       {:id :wizard/signature-spells#uses
                        :name "Signature Spells"
                        :uses 2
                        :restore-trigger :short-rest}]] }]}}}]

[:!provide-options
 :wizard/tradition

 {:id :wizard/school-evocation
  :name "School of Evocation"
  :desc "You focus your study on magic that creates powerful elemental effects such as bitter cold, searing flame, rolling thunder, crackling lightning, and burning acid. Some evokers find employment in military forces, serving as artillery to blast enemy armies from afar. Others use their spectacular power to protect the weak, while some seek their own gain as bandits, adventurers, or aspiring tyrants."
  :! [[:!provide-feature
       {:id :wizard/evocation-savant
        :name "Evocation Savant"
        :desc "Beginning when you select this school at 2nd level, the gold and time you must spend to copy an evocation spell into your spellbook is halved."}

       {:id :wizard/sculpt-spells
        :name "Sculpt Spells"
        :desc "Beginning at 2nd level, you can create pockets of relative safety within the effects of your evocation spells. When you cast an evocation spell that affects other creatures that you can see, you can choose a number of them equal to 1 + the spell’s level. The chosen creatures automatically succeed on their saving throws against the spell, and they take no damage if they would normally take half damage on a successful save."}]]
  :&levels {6 {:+! [[:!provide-feature
                     {:id :wizard/potent-cantrip
                      :name "Potent Cantrip"
                      :desc "Starting at 6th level, your damaging cantrips affect even creatures that avoid the brunt of the effect. When a creature succeeds on a saving throw against your cantrip, the creature takes half the cantrip’s damage (if any) but suffers no additional effect from the cantrip."}
                     ]]}

            10 {:+! [[:!provide-feature
                      {:id :wizard/empowered-evocation
                       :name "Empowered Evocation"
                       :desc "Beginning at 10th level, you can add your Intelligence modifier to one damage roll of any wizard evocation spell you cast."}
                      ]]}

            14 {:+! [[:!provide-feature
                      {:id :wizard/overchannel
                       :name "Overchannel"
                       :desc "Starting at 14th level, you can increase the power of your simpler spells. When you cast a wizard spell of 1st through 5th level that deals damage, you can deal maximum damage with that spell.
The first time you do so, you suffer no adverse effect. If you use this feature again before you finish a long rest, you take 2d12 necrotic damage for each level of the spell, immediately after you cast it. Each time you use this feature again before finishing a long rest, the necrotic damage per spell level increases by 1d12. This damage ignores resistance and immunity."
                       ; TODO can we track this for the user?
                       }]]}}} ]
