(declare-features
  (for [die [6 8 10 12]]
    {:id (keyword "hit-dice" (str "d" die))
     :name (str "Hit Dice: D" die)
     :implicit? true
     :! (on-state
          (provide-attr
            :5e/hit-dice die)
          (add-limited-use
            {:id (keyword "hit-dice" (str "d" die "#uses"))
             :name (str "D" die)
             :implicit? true
             :restore-trigger :long-rest
             :restore-amount (fn [trigger used level]
                               (min used
                                    (ceil (/ level 2))))
             :uses (fn [level]
                     level)}))}))
